Repository devhatt/pet-dex-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

fix: prettier error
  src/home/components/PetRegister/index.scss
Due: prettier --write, stylelint --fix

feat: Add ProgressBar story
  src/stories/ProgressBar.stories.js
Due: eslint --fix, prettier --write

refactor: Refactor ProgressBar instantiation to improve readability
  src/stories/ProgressBar.stories.js
Due: eslint --fix, prettier --write

refactor: Update colors variables and update styles to use them
  src/components/Button/index.scss
  src/components/Card/index.scss
  src/components/PetCard/index.scss
  src/components/ProgressBar/index.scss
  src/components/RangeSlider/index.scss
  src/components/TextInput/index.scss
  src/components/UploadImage/index.scss
  src/home/components/NoPetRegirestedPage/index.scss
  src/home/components/SideMenu/index.scss
  src/home/index.scss
  src/styles/colors.scss
  src/styles/fonts.scss
Due: prettier --write, stylelint --fix

feat: Fix font link in index.html
  src/home/index.html
Due: none

adicionado cores e definindo font no arquivo de Seletor de porte
  src/components/SeletorDePorte/index.scss
  src/home/index.js
  src/styles/colors.scss
Due: eslint --fix, prettier --write, stylelint --fix

Adjust scss and setToggle method structure
  src/components/Toggle/index.js
  src/components/Toggle/index.scss
Due: eslint --fix, prettier --write, stylelint --fix

refactor: minor changes
  src/components/Tabber/index.scss
Due: prettier --write, stylelint --fix

refactor: active tab when tabber is initialized is now a param
  src/components/Tabber/index.js
  src/stories/Tabber.stories.js
Due: eslint --fix, prettier --write

fix: add aspect-ratio to UploadImaghe component
  src/components/UploadImage/index.js
  src/components/UploadImage/index.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: create toggle component (#77)
  src/components/Toggle/index.js
  src/components/Toggle/index.scss
  src/stories/Toggle.stories.js
  src/styles/colors.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: Update styles and add new components
  src/components/Filter/Filter_DropDown/index.js
  src/components/Filter/Filter_DropDown/index.scss
  src/components/Filter/img/filter.svg
  src/components/Filter/index.js
  src/components/Filter/index.scss
  src/home/index.scss
  src/stories/Filter.stories.js
  src/utils/api/api.js
Due: eslint --fix, prettier --write, stylelint --fix

chore: fixed husky commit hooks
  .czferc.cjs
  .czrc
  .husky/commit-msg
  .husky/pre-commit
  commitlint.config.cjs
  package.json
  pnpm-lock.yaml
Due: none

feat: Update Filter component styles and options in Filter.stories.js
  src/components/Filter/Filter_DropDown/index.js
  src/components/Filter/Filter_DropDown/index.scss
  src/components/Filter/index.js
  src/components/Filter/index.scss
  src/stories/Filter.stories.js
Due: eslint --fix, prettier --write, stylelint --fix

refactor: Refactor Filter component styles and functionality
  src/components/Filter/Filter_DropDown/index.js
  src/components/Filter/Filter_DropDown/index.scss
  src/components/Filter/index.js
  src/components/Filter/index.scss
Due: eslint --fix, prettier --write, stylelint --fix

refactor: Refactor Filter component and FilterDropDown component
  src/components/Filter/Filter_DropDown/index.js
  src/components/Filter/index.js
Due: eslint --fix, prettier --write

changing file and component name
  src/components/SeletorDePorte/index.js
  src/components/SizeSelector/img/size-large-active.svg
  src/components/SizeSelector/img/size-large.svg
  src/components/SizeSelector/img/size-medium-active.svg
  src/components/SizeSelector/img/size-medium.svg
  src/components/SizeSelector/img/size-small-active.svg
  src/components/SizeSelector/img/size-small.svg
  src/components/SizeSelector/index.js
  src/components/SizeSelector/index.scss
  src/home/index.js
Due: eslint --fix, prettier --write, stylelint --fix

feat: desktop css and html petdex componente page
  src/home/components/PetvetPage/images/cuidadosEspeciais.svg
  src/home/components/PetvetPage/images/estetoscopio.svg
  src/home/components/PetvetPage/images/vacina.svg
  src/home/components/PetvetPage/index.js
  src/home/components/PetvetPage/index.scss
  src/home/index.js
  src/styles/colors.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix: html and css finished
  src/home/components/PetvetPage/index.js
  src/home/components/PetvetPage/index.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix: button and content
  src/home/components/PetvetPage/index.js
  src/home/components/PetvetPage/index.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: Fix filter dropdown display issue and add unit tests
  src/components/Filter/Filter_DropDown/index.js
  src/components/Filter/Filter_DropDown/index.spec.js
  src/components/Filter/index.js
  src/components/Filter/index.spec.js
  src/stories/Filter.stories.js
Due: eslint --fix, prettier --write

fix: emit
  src/home/components/PetvetPage/index.js
  src/home/components/PetvetPage/index.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix: index js
  src/home/index.js
Due: eslint --fix, prettier --write

fix: remove import petvet
  src/home/index.js
Due: eslint --fix, prettier --write

refactor: eof
  .husky/commit-msg
  .husky/pre-commit
  src/components/Toggle/index.js
Due: eslint --fix, prettier --write

create: component addpet (#78)
  src/components/AvatarButton/images/cross.svg
  src/components/AvatarButton/index.js
  src/components/AvatarButton/index.scss
  src/stories/AvatarButton.stories.js
  src/styles/colors.scss
  �
Due: eslint --fix, prettier --write, stylelint --fix

fix: fix import locale initializeScrollable component
  src/home/components/PetRegisterPage/index.scss
  src/home/index.js
Due: eslint --fix, prettier --write, stylelint --fix

fix: fixed style PetRegisterPage property unnecessary
  src/home/components/PetRegisterPage/index.scss
  src/home/index.js
Due: eslint --fix, prettier --write, stylelint --fix

feat: tabber component (#101)
  .czferc.cjs
  .czrc
  .husky/commit-msg
  .husky/pre-commit
  .husky/prepare-commit-msg
  commitlint.config.cjs
  package.json
  pnpm-lock.yaml
  src/components/Tabber/index.js
  src/components/Tabber/index.scss
  src/components/Toggle/index.js
  src/stories/Tabber.stories.js
  src/stories/assets/tabber/birthday.svg
  src/stories/assets/tabber/home.svg
  src/styles/colors.scss
  src/styles/fonts.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: active button only breed is selected
  src/components/PetCard/index.js
  src/home/components/PetRegisterPage/index.js
  src/home/components/PetRegisterPage/index.scss
Due: eslint --fix, prettier --write, stylelint --fix

changing alt and aria-label name to english
  src/components/SizeSelector/index.js
  src/components/SizeSelector/index.scss
  src/home/index.js
Due: eslint --fix, prettier --write, stylelint --fix

docs: create events for component petRegisterPage
  src/components/PetCard/index.js
  src/home/components/PetRegisterPage/index.js
  src/home/components/PetRegisterPage/index.scss
  src/home/index.js
Due: eslint --fix, prettier --write, stylelint --fix

feat: change to new component layout
  src/home/components/PetRegister/index.js
  src/home/components/PetRegister/index.scss
  src/home/index.scss
  src/styles/base.scss
Due: eslint --fix, prettier --write, stylelint --fix

style: lint code
  src/home/components/PetRegister/index.scss
Due: prettier --write, stylelint --fix

fix: fonts
  src/home/components/PetvetPage/index.scss
  src/home/index.html
  src/styles/fonts.scss
Due: prettier --write, stylelint --fix

feat: active button when select pet card
  src/components/PetCard/index.js
  src/home/components/PetRegisterPage/index.js
  src/home/index.js
Due: eslint --fix, prettier --write

refactor: Refactor FilterDropDown event listeners
  src/components/Filter/Filter_DropDown/index.js
  src/components/Filter/index.js
  src/components/Filter/index.scss
  src/components/Filter/index.spec.js
  src/stories/Filter.stories.js
Due: eslint --fix, prettier --write, stylelint --fix

style: Fix formatting in Filter_DropDown and Filter components
  src/components/Filter/Filter_DropDown/index.js
  src/components/Filter/index.js
Due: eslint --fix, prettier --write

docs: create methods for petregisterPage
  src/home/components/PetRegisterPage/index.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: (any of: *.js) or (any of: *.scss)
  stylelint --fix: any of: *.scss
