Repository devhatt/pet-dex-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

feat: button update and deactivation and activation functionality (#84)
  .gitignore
  package-lock.json
  src/components/Button/index.js
  src/components/Button/index.scss
  src/home/components/NoPetRegirestedPage/index.js
  src/stories/Button.stories.js
Due: eslint --fix, prettier --write, stylelint --fix

feat: breakpoints withou validation
  src/utils/breakpoints.js
  src/utils/breakpoints/breakpoints.js
Due: eslint --fix, prettier --write

feat: validations breakpoints
  src/utils/breakpoints/breakpoints.js
Due: eslint --fix, prettier --write

remove: base.scss
  src/home/components/SideMenu/index.scss
Due: prettier --write, stylelint --fix

change: component sidemenu
  package.json
  src/home/components/SideMenu/index.js
  src/home/index.html
  src/home/index.js
  src/home/index.scss
  �
Due: eslint --fix, prettier --write, stylelint --fix

add: title yourpet
  src/home/components/SideMenu/index.js
  src/home/components/SideMenu/index.scss
Due: eslint --fix, prettier --write, stylelint --fix

remove: comments
  src/home/index.scss
Due: prettier --write, stylelint --fix

create sidemenu
  package.json
  src/home/components/Navigation/index.js
  src/home/components/SideMenu/images/configuracoes.svg
  src/home/components/SideMenu/images/conta.svg
  src/home/components/SideMenu/images/doacoes.svg
  src/home/components/SideMenu/images/exit.svg
  src/home/components/SideMenu/images/exitmenu.svg
  src/home/components/SideMenu/images/meuspets.svg
  src/home/components/SideMenu/images/notifications.svg
  src/home/components/SideMenu/images/perfil.svg
  src/home/components/SideMenu/images/petdex.svg
  src/home/components/SideMenu/index.js
  src/home/components/SideMenu/index.scss
  src/home/index.js
  src/home/index.scss
Due: eslint --fix, prettier --write, stylelint --fix

changed: changesidemenu logic passed to a utility
  src/home/index.js
  src/home/utils/scrollable-sidemenu.js
Due: eslint --fix, prettier --write

PR revised, change to kebab-case, reduction the logic of functionality etc
  pnpm-lock.yaml
  src/home/components/Navigation/index.js
  src/home/components/SideMenu/index.scss
  src/home/index.js
  src/home/index.scss
Due: eslint --fix, prettier --write, stylelint --fix

change: change line div to hr, reduction search li
  src/home/components/SideMenu/index.js
  src/home/index.js
  �
Due: eslint --fix, prettier --write

update
  src/home/components/SideMenu/index.scss
Due: prettier --write, stylelint --fix

changed: index.scss
  src/home/components/SideMenu/index.scss
Due: prettier --write, stylelint --fix

update
  src/home/index.js
  src/home/index.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: create initial css for slider
  src/components/Slider/index.js
  src/components/Slider/index.scss
  src/stories/Slider.stories.js
Due: eslint --fix, prettier --write, stylelint --fix

Add SVG icon and dynamic options
  src/components/Filter/img/filter.svg
  src/components/Filter/index.js
  src/components/Filter/index.scss
Due: eslint --fix, prettier --write, stylelint --fix

adicionando imgs de qaundo o item tiver ativo
  src/components/slider/img/size-large-active.svg
  src/components/slider/img/size-medium-active.svg
  src/components/slider/img/size-small-active.svg
  src/components/slider/index.js
  src/components/slider/index.scss
Due: eslint --fix, prettier --write, stylelint --fix

refactor: Ajustes de evento, stories e getters/setters
  src/components/Checkbox/images/check.svg
  src/components/Checkbox/index.js
  src/components/RadioButton/index.js
  src/stories/Checkbox.stories.js
  src/stories/RadioButton.stories.js
Due: eslint --fix, prettier --write

fix: change incorrect names and created a foreach to make it more simplified
  src/utils/breakpoints/breakpoints.js
Due: eslint --fix, prettier --write

Add SVG icon and dynamic options
  src/components/Filter/img/magnifying.svg
  src/components/Filter/index.js
  src/components/Filter/index.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: breakpoints js and scss media variables exported (#89)
  src/styles/breakpoints.module.scss
  src/utils/breakpoints/breakpoints.js
Due: eslint --fix, prettier --write, stylelint --fix

Criação do componente SideMenu (#76)
  pnpm-lock.yaml
  src/home/components/Navigation/index.js
  src/home/components/SideMenu/images/configuracoes.svg
  src/home/components/SideMenu/images/conta.svg
  src/home/components/SideMenu/images/doacoes.svg
  src/home/components/SideMenu/images/exit.svg
  src/home/components/SideMenu/images/exitmenu.svg
  src/home/components/SideMenu/images/meuspets.svg
  src/home/components/SideMenu/images/notifications.svg
  src/home/components/SideMenu/images/perfil.svg
  src/home/components/SideMenu/images/petdex.svg
  src/home/components/SideMenu/index.js
  src/home/components/SideMenu/index.scss
  src/home/index.html
  src/home/index.js
  src/home/index.scss
  src/home/utils/scrollable-sidemenu.js
Due: eslint --fix, prettier --write, stylelint --fix

test: Fix ProgressBar tests to use currentProgress instead of value
  src/components/ProgressBar/index.spec.js
Due: eslint --fix, prettier --write

test: Fix ProgressBar tests to use currentProgress instead of value (#99)
  src/components/ProgressBar/index.spec.js
Due: eslint --fix, prettier --write

test: Add swipe tests
  src/utils/swiper.js
  src/utils/swiper.spec.js
Due: eslint --fix, prettier --write

fix: update the method to assign the mock to event target
  src/utils/swiper.js
  src/utils/swiper.spec.js
Due: eslint --fix, prettier --write

refactor: eslint configuration and refactor based on a review
  .eslintrc.json
  src/utils/swiper.js
  src/utils/swiper.spec.js
Due: eslint --fix, prettier --write

feat: Add Swiper utility function for touch swipe events
  src/utils/Swiper/Swiper.js
Due: eslint --fix, prettier --write

feat: allow configure deadZone
  src/utils/swiper.js
Due: eslint --fix, prettier --write

feat: add destroy method
  src/utils/swiper.js
Due: eslint --fix, prettier --write

Add Swiper utility function for touch swipe events (#85)
  .eslintrc.json
  src/utils/swiper.js
  src/utils/swiper.spec.js
Due: eslint --fix, prettier --write

fix: removed unused variables or incorrect variables from fonts file
  src/styles/fonts.scss
Due: prettier --write, stylelint --fix

fix: removed unused variables or incorrect variables from fonts file (#103)
  src/styles/fonts.scss
Due: prettier --write, stylelint --fix

Component Slider com controle de naveção
  src/components/slider/index.js
  src/components/slider/index.scss
  src/home/index.js
Due: eslint --fix, prettier --write, stylelint --fix

fix: fixing the links of guidelines
  .github/workflows/autoMilestone.yml
Due: none

fix: fixing the links of guidelines (#105)
  .github/workflows/autoMilestone.yml
Due: none

feat: create tabber component
  src/components/Tabber/index.js
  src/components/Tabber/index.scss
  src/styles/colors.scss
Due: eslint --fix, prettier --write, stylelint --fix

refactor: fix ::after, ::before of tab for desktop users
  src/components/Tabber/index.js
Due: eslint --fix, prettier --write

refactor: fix ::after, ::before of tab for desktop users
  src/components/Tabber/index.scss
Due: prettier --write, stylelint --fix

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: (any of: *.js) or (any of: *.scss)
  stylelint --fix: any of: *.scss
