Repository devhatt/pet-dex-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

finish service routes
  package.json
  src/home/index.html
  src/router/main-router.js
  src/router/routes/cadastro-pet/cadastro-pet.js
  src/router/routes/cadastro-pet/etapas/aniversario.js
  src/router/routes/cadastro-pet/etapas/cadastro.js
  src/router/routes/cadastro-pet/etapas/nome.js
  src/router/routes/cadastro-pet/etapas/peso.js
  src/router/routes/cadastro-pet/etapas/petvet.js
  src/router/routes/cadastro-pet/etapas/raca.js
  src/router/routes/cadastro-pet/etapas/tamanho.js
  src/router/routes/meus-pets/etapas/meuspets.js
  src/router/routes/meus-pets/etapas/petperfil.js
  src/router/routes/meus-pets/meus-pets.js
  src/router/routes/rotas-principais/rotas-principais.js
  src/router/routes/rotas-principais/rotas/configuracoes.js
  src/router/routes/rotas-principais/rotas/conta.js
  src/router/routes/rotas-principais/rotas/doacoes.js
  src/router/routes/rotas-principais/rotas/error.js
  src/router/routes/rotas-principais/rotas/home.js
  src/router/routes/rotas-principais/rotas/pet-dex.js
Due: eslint --max-warnings=0 --fix, prettier --write

chore: changed pt-br to english
  src/router/routes/cadastro-pet/cadastro-pet.js
  src/router/routes/cadastro-pet/etapas/aniversario.js
  src/router/routes/cadastro-pet/etapas/cadastro.js
  src/router/routes/cadastro-pet/etapas/nome.js
  src/router/routes/cadastro-pet/etapas/peso.js
  src/router/routes/cadastro-pet/etapas/petvet.js
  src/router/routes/cadastro-pet/etapas/raca.js
  src/router/routes/cadastro-pet/etapas/tamanho.js
  src/router/routes/meus-pets/etapas/meuspets.js
  src/router/routes/meus-pets/etapas/petperfil.js
  src/router/routes/meus-pets/meus-pets.js
  src/router/routes/rotas-principais/rotas-principais.js
  src/router/routes/rotas-principais/rotas/configuracoes.js
  src/router/routes/rotas-principais/rotas/conta.js
  src/router/routes/rotas-principais/rotas/doacoes.js
  src/router/routes/rotas-principais/rotas/error.js
  src/router/routes/rotas-principais/rotas/home.js
  src/router/routes/rotas-principais/rotas/pet-dex.js
Due: eslint --max-warnings=0 --fix, prettier --write

style: add eof package.json
  package.json
Due: none

feat: change home folder to pages
  src/pages/images/pet-dex.svg
  src/pages/images/ruler-slider.svg
  src/pages/index.html
  src/pages/index.js
  src/pages/index.scss
  src/pages/layouts/Navigation/images/avatar.svg
  src/pages/layouts/Navigation/images/bell.svg
  src/pages/layouts/Navigation/images/exit.svg
  src/pages/layouts/Navigation/images/menu.svg
  src/pages/layouts/Navigation/index.js
  src/pages/layouts/Navigation/index.scss
  src/pages/layouts/NoPetRegirestedPage/images/no-pet-regirested-page.png
  src/pages/layouts/NoPetRegirestedPage/index.js
  src/pages/layouts/NoPetRegirestedPage/index.scss
  src/pages/layouts/PetRegisterPage/index.js
  src/pages/layouts/PetRegisterPage/index.scss
  src/pages/layouts/PetRegisterPage/index.spec.js
  src/pages/layouts/PetWeightPage/index.js
  src/pages/layouts/PetWeightPage/index.scss
  src/pages/layouts/PetWeightPage/petWeightPage.spec.js
  src/pages/layouts/SideMenu/images/configuracoes.svg
  src/pages/layouts/SideMenu/images/conta.svg
  src/pages/layouts/SideMenu/images/doacoes.svg
  src/pages/layouts/SideMenu/images/exit.svg
  src/pages/layouts/SideMenu/images/exitmenu.svg
  src/pages/layouts/SideMenu/images/meuspets.svg
  src/pages/layouts/SideMenu/images/notifications.svg
  src/pages/layouts/SideMenu/images/perfil.svg
  src/pages/layouts/SideMenu/images/petdex.svg
  src/pages/layouts/SideMenu/index.js
  src/pages/layouts/SideMenu/index.scss
  src/pages/utils/scrollable-sidemenu.js
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

fix: change index directory to pages/
  src/index.html
Due: none

fix: resolve conflict changes sidemenu
  src/home/components/SideMenu/index.js
  src/pages/layouts/SideMenu/index.js
Due: eslint --max-warnings=0 --fix, prettier --write

refactor: moving Utils for PetDexApp directory
  src/layouts/PetDexApp/utils/scrollable-sidemenu.js
  src/layouts/index.js
Due: eslint --max-warnings=0 --fix, prettier --write

refactor: fix breakpoint
  src/components/LoginForm/index.scss
Due: prettier --write, stylelint --fix

refactor: decrease button spacing
  src/components/LoginForm/index.scss
Due: prettier --write, stylelint --fix

refactor: improve code reading
  src/components/LoginForm/index.js
Due: eslint --max-warnings=0 --fix, prettier --write

fix: add color gray250
  src/styles/colors.scss
Due: prettier --write, stylelint --fix

chore: colors adjusted
  src/components/Calendar/components/DateButton/index.scss
  src/styles/colors.scss
Due: prettier --write, stylelint --fix

chore: update main
  pnpm-lock.yaml
Due: none

chore: update branch
  src/components/Calendar/components/DateButton/index.js
  src/components/Calendar/components/DateButton/index.scss
  src/components/Calendar/components/DateSelector/index.js
  src/components/Calendar/components/DateSelector/index.scss
  src/components/Calendar/components/Day/index.js
  src/components/Calendar/components/Day/index.scss
  src/components/Calendar/components/Days/index.js
  src/components/Calendar/components/NavButton/index.js
  src/components/Calendar/components/NavButton/index.scss
  src/components/Calendar/images/arrows.svg
  src/components/Calendar/images/navButton.svg
  src/components/Calendar/index.js
  src/components/Calendar/index.scss
  src/stories/Calendar.stories.js
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

chore: update branch
  src/components/Calendar/components/DateButton/index.js
  src/components/Calendar/components/DateButton/index.scss
  src/components/Calendar/components/Day/index.js
  src/components/Calendar/components/Day/index.scss
  src/components/Calendar/components/NavButton/index.scss
  src/components/Calendar/index.js
  src/components/Calendar/index.scss
  src/styles/colors.scss
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

chore: index.scss adjusted
  src/components/Button/index.scss
  src/layouts/app/components/SideMenu/index.scss
Due: prettier --write, stylelint --fix

chore: update branch
  src/components/Calendar/components/DateButton/index.js
Due: eslint --max-warnings=0 --fix, prettier --write

chore: add lodash
  pnpm-lock.yaml
Due: none

refactor: add emit login event
  src/components/LoginForm/index.js
Due: eslint --max-warnings=0 --fix, prettier --write

feat: add login form (#259)
  src/components/LoginForm/images/eye-slash.svg
  src/components/LoginForm/images/facebook-icon.svg
  src/components/LoginForm/images/google-icon.svg
  src/components/LoginForm/images/paw-form-icon.svg
  src/components/LoginForm/index.js
  src/components/LoginForm/index.scss
  src/stories/LoginForm.stories.js
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

feat: add functionality to show/hide TextInput field
  src/components/TextInput/img/eye-icon-disable.svg
  src/components/TextInput/img/eye-icon.svg
  src/components/TextInput/index.js
  src/components/TextInput/index.scss
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

refactor: include type password to TextInput
  src/components/LoginForm/images/eye-slash.svg
  src/components/LoginForm/index.js
Due: eslint --max-warnings=0 --fix, prettier --write

fix: rename getType to setType and correct method call parameter
  src/components/TextInput/index.js
Due: eslint --max-warnings=0 --fix, prettier --write

feat: add dependencias entre workflows e ajust code-style7
  .github/workflows/build.yml
  .github/workflows/code-style.yml
Due: none

fix: removendo dependencias de workflows
  .github/workflows/build.yml
  .github/workflows/code-style.yml
Due: none

fix: prevent icon from being overlaid and correct use of BEM classes
  src/components/TextInput/index.js
  src/components/TextInput/index.scss
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

refactor: delete eslint comment
  src/components/TextInput/index.js
Due: eslint --max-warnings=0 --fix, prettier --write

refactor: update TextInput storybook
  src/stories/TextInput.stories.js
Due: eslint --max-warnings=0 --fix, prettier --write

refactor: configure stylelint for scss formatting
  src/components/TextInput/index.scss
Due: prettier --write, stylelint --fix

style: remove component-specific font variables
  src/styles/fonts.scss
Due: prettier --write, stylelint --fix

refactor: emit event when type changes
  src/components/TextInput/index.js
Due: eslint --max-warnings=0 --fix, prettier --write

feat: service created
  PetListService.js
  package.json
  pnpm-lock.yaml
Due: eslint --max-warnings=0 --fix, prettier --write

fix: resolve text overlay issue
  src/components/TextInput/index.js
  src/components/TextInput/index.scss
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

fix: update event name to imperative form
  src/components/TextInput/index.js
Due: eslint --max-warnings=0 --fix, prettier --write

fix: getUser fix
  PetListService.js
  src/services/user/userService.js
Due: eslint --max-warnings=0 --fix, prettier --write

Path conditions:
  eslint --max-warnings=0 --fix: any of: *.js
  prettier --write: (any of: *.js) or (any of: *.scss)
  stylelint --fix: any of: *.scss
