Repository devhatt/pet-dex-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

fix: adicionado margin top ao textarea
  src/layouts/app/pages/PetVet/index.js
  src/layouts/app/pages/PetVet/index.scss
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

feat: inserido textarea na PetVetPage
  src/layouts/app/pages/PetVet/index.js
  src/layouts/app/pages/PetVet/index.spec.js
Due: eslint --max-warnings=0 --fix, prettier --write

feat: inserido textarea na PetVetPage (#281)
  src/layouts/app/pages/PetVet/index.js
  src/layouts/app/pages/PetVet/index.scss
  src/layouts/app/pages/PetVet/index.spec.js
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

fix: remove unnecessary
  src/layouts/app/pages/PetRegister/index.spec.js
Due: eslint --max-warnings=0 --fix, prettier --write

fix: tests text
  src/layouts/app/pages/PetRegister/index.spec.js
Due: eslint --max-warnings=0 --fix, prettier --write

feat: all tests
  src/components/PetCard/index.js
  src/layouts/app/pages/PetRegister/index.js
  src/layouts/app/pages/PetRegister/index.spec.js
Due: eslint --max-warnings=0 --fix, prettier --write

fix: tests and component
  src/components/PetCard/index.js
  src/layouts/app/pages/PetRegister/index.spec.js
Due: eslint --max-warnings=0 --fix, prettier --write

feat: petregister tests (#280)
  src/components/PetCard/index.js
  src/layouts/app/pages/PetRegister/index.js
  src/layouts/app/pages/PetRegister/index.spec.js
Due: eslint --max-warnings=0 --fix, prettier --write

fix: remove wrong file
  src/services/pet/pet.js
Due: eslint --max-warnings=0 --fix, prettier --write

fix: remove axios
  package.json
  pnpm-lock.yaml
Due: none

fix: url in userservice and console in services
  .eslintrc.json
  src/services/breeds.js
  src/services/user/userService.js
Due: eslint --max-warnings=0 --fix, prettier --write

fix: remove await of list breed
  src/services/breeds.js
Due: eslint --max-warnings=0 --fix, prettier --write

fix: userService local
  src/services/userService.js
Due: eslint --max-warnings=0 --fix, prettier --write

fix: new message bodty and url exported
  package.json
  pnpm-lock.yaml
  src/services/api.js
  src/services/breeds.js
Due: eslint --max-warnings=0 --fix, prettier --write

feat: breeds service
  src/services/breeds.js
Due: eslint --max-warnings=0 --fix, prettier --write

fix: await in response
  src/services/userService.js
Due: eslint --max-warnings=0 --fix, prettier --write

fix: service breed
  src/services/breeds.js
Due: eslint --max-warnings=0 --fix, prettier --write

fix: better name
  src/services/breeds.js
Due: eslint --max-warnings=0 --fix, prettier --write

feat: basecode getBreed
  package.json
  pnpm-lock.yaml
  src/services/pet/pet.js
Due: eslint --max-warnings=0 --fix, prettier --write

fix: pnpm lock
  pnpm-lock.yaml
Due: none

fix: dependencies
  package.json
  pnpm-lock.yaml
Due: none

refactor: change attribute type place of input
  src/components/RegisterForm/index.js
  src/components/RegisterForm/teste.txt
  src/components/TextInput/index.scss
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

refactor: changing way of get input values
  src/components/RegisterForm/index.js
Due: eslint --max-warnings=0 --fix, prettier --write

chore: resolve conflicts on rebase
  src/components/RegisterForm/images/facebook-icon.png
  src/components/RegisterForm/images/google-icon.png
  src/components/RegisterForm/index.js
  src/components/RegisterForm/index.scss
  src/public/poppins/Poppins-Bold.ttf
  src/public/poppins/Poppins-ExtraBold.ttf
  src/public/poppins/Poppins-Light.ttf
  src/public/poppins/Poppins-Medium.ttf
  src/public/poppins/Poppins-Regular.ttf
  src/public/poppins/Poppins-SemiBold.ttf
  src/stories/PetRegister.stories.js
  src/stories/PetWeightPage.stories.js
  src/stories/RegisterForm.stories.js
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

feat: adding dropdown options validation
  src/components/RegisterForm/index.js
  src/components/RegisterForm/index.scss
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

feat: create form fields validation
  src/components/RegisterForm/index.js
  src/components/RegisterForm/index.scss
  src/components/RegisterForm/teste.txt
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

refactor: adding font family in the correct place
  src/layouts/index.html
  src/public/poppins/Poppins-Bold.ttf
  src/public/poppins/Poppins-ExtraBold.ttf
  src/public/poppins/Poppins-Light.ttf
  src/public/poppins/Poppins-Medium.ttf
  src/public/poppins/Poppins-Regular.ttf
  src/public/poppins/Poppins-SemiBold.ttf
Due: none

refactor: changing fixed value of layout elements
  src/components/RegisterForm/components/Fields.js
  src/components/RegisterForm/index.js
  src/components/RegisterForm/index.scss
  src/stories/PetRegister.stories.js
  src/stories/PetWeightPage.stories.js
  src/utils/validations.js
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

feat: create pet avatar component
  src/components/PetAvatar/index.js
  src/components/PetAvatar/index.scss
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

feat: create pet avatar component
  src/components/PetAvatar/index.js
  src/components/PetAvatar/index.scss
  src/layouts/app/components/SideMenu/index.js
  src/layouts/app/components/SideMenu/index.scss
  src/stories/PetAvatar.stories.js
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

feat: create pet avatar component
  src/components/PetAvatar/index.scss
  src/layouts/app/components/SideMenu/index.js
  src/layouts/app/components/SideMenu/index.scss
  src/stories/PetAvatar.stories.js
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

feat: create pet avatar component
  src/components/PetAvatar/index.scss
Due: prettier --write, stylelint --fix

feat: create pet avatar component
  src/components/PetAvatar/index.js
  src/components/PetAvatar/index.scss
  src/stories/PetAvatar.stories.js
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

Issue 120 - serviço de raças (#282)
  .eslintrc.json
  package.json
  pnpm-lock.yaml
  src/services/api.js
  src/services/breeds.js
  src/services/userService.js
Due: eslint --max-warnings=0 --fix, prettier --write

refactor: init calendar refactor
  src/components/Calendar/components/DateButton/index.js
  src/components/Calendar/components/DateButton/index.scss
  src/components/Calendar/components/DateSelector/index.js
  src/components/Calendar/components/DateSelector/index.scss
  src/components/Calendar/components/Day/index.js
  src/components/Calendar/components/Day/index.scss
  src/components/Calendar/components/Days/index.js
  src/components/Calendar/components/NavButton/index.js
  src/components/Calendar/components/NavButton/index.scss
  src/components/Calendar/index.js
  src/components/Calendar/index.scss
  src/components/Calendar/utils/months.js
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

test: melhora testes da página de peso do pet
  src/home/components/PetWeightPage/petWeightPage.spec.js
Due: eslint --max-warnings=0 --fix, prettier --write

Path conditions:
  eslint --max-warnings=0 --fix: any of: *.js
  prettier --write: (any of: *.js) or (any of: *.scss)
  stylelint --fix: any of: *.scss
