Repository devhatt/pet-dex-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

fix: bug on tabber mobile border
  src/components/Tabber/index.js
  src/components/Tabber/index.scss
  src/stories/assets/tabber/birthday.svg
  src/stories/assets/tabber/home.svg
Due: eslint --fix, prettier --write, stylelint --fix

refactor: change the way tabs are activated
  src/components/Tabber/index.js
Due: eslint --fix, prettier --write

refactor: change the way tabs are activated
  src/components/Tabber/index.js
  src/components/Tabber/index.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: implement storybook for tabber component, also changed some logic in the component
  src/components/Tabber/index.js
Due: eslint --fix, prettier --write

feat: implement storybook for tabber component, also changed some logic in the component
  src/components/Tabber/index.js
  src/components/Tabber/index.scss
  src/stories/Tabber.stories.js
Due: eslint --fix, prettier --write, stylelint --fix

feat: tab can receive a icon to be used on mobile, also fixed storybook
  src/components/Tabber/index.js
  src/stories/Tabber.stories.js
Due: eslint --fix, prettier --write

feat: tab can receive a icon to be used on mobile, also fixed storybook
  src/components/Tabber/index.js
  src/components/Tabber/index.scss
  src/stories/Tabber.stories.js
Due: eslint --fix, prettier --write, stylelint --fix

fix: icon size inside tab button
  src/components/Tabber/index.js
  src/components/Tabber/index.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix: a bug when removing and adding a tab would result in 2 tabs with same number
  src/components/Tabber/index.js
  src/components/Tabber/index.scss
  src/stories/assets/tabber/birthday.svg
  src/stories/assets/tabber/home.svg
Due: eslint --fix, prettier --write, stylelint --fix

fix: icon was visible in desktop mode
  src/components/Tabber/index.js
  src/components/Tabber/index.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix: fontsize of xl4 to correct number
  src/styles/fonts.scss
Due: prettier --write, stylelint --fix

style: update branch
  src/components/Tabber/index.js
  src/components/Tabber/index.scss
Due: eslint --fix, prettier --write, stylelint --fix

refatctor: stopped using index to control the element, now using the position inside array of elements
  src/components/Tabber/index.js
  src/components/Tabber/index.scss
Due: eslint --fix, prettier --write, stylelint --fix

refactor: refactor and encapsulate methods
  src/components/Tabber/index.js
  src/home/components/NoPetRegirestedPage/index.js
Due: eslint --fix, prettier --write

fix: revert wrong file commit
  src/home/components/NoPetRegirestedPage/index.js
Due: eslint --fix, prettier --write

create PetRegister component
  src/home/components/PetRegisterPage/images/afghan-hound.svg
  src/home/components/PetRegisterPage/images/akita.svg
  src/home/components/PetRegisterPage/images/beagle.svg
  src/home/components/PetRegisterPage/images/bichon-frise.svg
  src/home/components/PetRegisterPage/images/border-collie.svg
  src/home/components/PetRegisterPage/images/boxer.svg
  src/home/components/PetRegisterPage/images/chow-chow.svg
  src/home/components/PetRegisterPage/images/mixed-breed.svg
  src/home/components/PetRegisterPage/index.js
  src/home/components/PetRegisterPage/index.scss
Due: eslint --fix, prettier --write, stylelint --fix

add style file
  src/components/PetCard/index.scss
Due: prettier --write, stylelint --fix

add other component for test rendering
  src/home/index.js
Due: eslint --fix, prettier --write

style: Add function-disallowed-list rule to .stylelintrc and update colors.scss
  .stylelintrc
  src/styles/colors.scss
Due: prettier --write, stylelint --fix

refactor: Update function-disallowed-list in .stylelintrc and colors.scss
  .stylelintrc
  src/styles/colors.scss
Due: prettier --write, stylelint --fix

Fix styling issues in components
  src/components/Button/index.scss
  src/home/components/SideMenu/index.scss
  src/home/index.scss
Due: prettier --write, stylelint --fix

style: Update order in colors.scss
  src/styles/colors.scss
Due: prettier --write, stylelint --fix

refactor: minor changes
  src/components/Tabber/index.js
  src/components/Tabber/index.scss
  src/stories/Tabber.stories.js
Due: eslint --fix, prettier --write, stylelint --fix

refactor: activateTab method update
  src/components/Tabber/index.js
Due: eslint --fix, prettier --write

Write modifiers according to BEM
  src/components/Toggle/index.js
  src/components/Toggle/index.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: Implement toggle component adhering to Material Design with animated switch and external event listeners
  src/components/Toggle/index.js
Due: eslint --fix, prettier --write

Made adjustments according to reviews, changed scss file structure
  src/components/Toggle/index.js
  src/components/Toggle/index.scss
  src/styles/colors.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: Implement toggle component adhering to Material Design with animated switch and external event listeners
  src/components/Toggle/index.js
  src/components/Toggle/index.scss
Due: eslint --fix, prettier --write, stylelint --fix

Make adjustments according to reviews
  src/components/Toggle/index.js
  src/components/Toggle/index.scss
  src/stories/Toggle.stories.js
  src/styles/colors.scss
Due: eslint --fix, prettier --write, stylelint --fix

Made some adjustments according to reviews
  src/components/Toggle/index.js
  src/components/Toggle/index.scss
  src/styles/colors.scss
Due: eslint --fix, prettier --write, stylelint --fix

Solved conflicts
  src/stories/Toggle.stories.js
  src/styles/colors.scss
Due: eslint --fix, prettier --write, stylelint --fix

Adjust Toggle function
  src/components/Toggle/index.js
Due: eslint --fix, prettier --write

refactor: minor changes2
  src/components/Tabber/index.js
Due: eslint --fix, prettier --write

Create setToggle function
  src/components/Toggle/index.js
  src/components/Toggle/index.scss
Due: eslint --fix, prettier --write, stylelint --fix

Fix: rename files dog images and add petcard into page
  .husky/prepare-commit-msg
  src/home/components/PetRegisterPage/images/afghanHound.svg
  src/home/components/PetRegisterPage/images/bichonFrise.svg
  src/home/components/PetRegisterPage/images/borderCollie.svg
  src/home/components/PetRegisterPage/images/chowChow.svg
  src/home/components/PetRegisterPage/images/mixedBreed.svg
  src/home/components/PetRegisterPage/index.js
  src/home/components/PetRegisterPage/index.scss
  src/home/index.js
Due: eslint --fix, prettier --write, stylelint --fix

feat: create page for select dog breed
  src/home/components/PetRegisterPage/index.js
  src/home/components/PetRegisterPage/index.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix: cleaning hard coded of index.js
  src/home/components/PetRegisterPage/index.js
  src/home/components/PetRegisterPage/index.scss
  src/home/index.js
Due: eslint --fix, prettier --write, stylelint --fix

create: component addpet
  src/components/AvatarButton/images/cross.svg
  src/components/AvatarButton/index.js
  src/components/AvatarButton/index.scss
  src/stories/AvatarButton.stories.js
  src/styles/colors.scss
  �
Due: eslint --fix, prettier --write, stylelint --fix

trocando o nome do arquivo para Seletor de porte
  src/components/SeletorDePorte/img/size-large-active.svg
  src/components/SeletorDePorte/img/size-large.svg
  src/components/SeletorDePorte/img/size-medium-active.svg
  src/components/SeletorDePorte/img/size-medium.svg
  src/components/SeletorDePorte/img/size-small-active.svg
  src/components/SeletorDePorte/img/size-small.svg
  src/components/SeletorDePorte/index.js
  src/components/SeletorDePorte/index.scss
  src/home/index.js
Due: eslint --fix, prettier --write, stylelint --fix

feat: Tela base feita
  src/home/components/PetRegister/index.js
  src/home/components/PetRegister/index.scss
  src/home/index.js
Due: eslint --fix, prettier --write, stylelint --fix

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: (any of: *.js) or (any of: *.scss)
  stylelint --fix: any of: *.scss
