Repository devhatt/pet-dex-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.js": ["eslint --max-warnings=0 --fix ", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"]
}

feat: add hover in date selector
  src/components/Calendar/components/DateSelectorComposer/components/MonthSelector/index.js
  src/components/Calendar/components/DateSelectorComposer/components/MonthSelector/index.scss
  src/components/Calendar/components/DateSelectorComposer/components/SelectorModal/index.js
  src/components/Calendar/components/DateSelectorComposer/components/SelectorModal/utils/scrollModal.js
  src/components/Calendar/components/DateSelectorComposer/components/YearSelector/index.js
  src/components/Calendar/components/DateSelectorComposer/components/YearSelector/index.scss
  src/components/Calendar/components/DateSelectorComposer/index.js
  src/components/Calendar/components/DateSelectorComposer/utils/ModalController.js
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

chore: init virtual scroll
  src/components/Calendar/components/DateSelectorComposer/components/SelectorModal/index.js
  src/components/Calendar/components/DateSelectorComposer/components/SelectorModal/index.scss
  src/components/Calendar/components/DateSelectorComposer/components/YearSelector/index.js
  src/components/Calendar/components/DateSelectorComposer/index.js
  src/components/Calendar/components/DateSelectorComposer/utils/arraysGenerators.js
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

refactor: init calendar refactor
  src/components/Calendar/components/DateButton/index.js
  src/components/Calendar/components/DateButton/index.scss
  src/components/Calendar/components/DateSelector/index.js
  src/components/Calendar/components/DateSelector/index.scss
  src/components/Calendar/components/Day/index.js
  src/components/Calendar/components/Day/index.scss
  src/components/Calendar/components/Days/index.js
  src/components/Calendar/components/NavButton/index.js
  src/components/Calendar/components/NavButton/index.scss
  src/components/Calendar/index.js
  src/components/Calendar/index.scss
  src/components/Calendar/utils/months.js
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

fix: rerender fix
  src/components/Calendar/components/DateSelectorComposer/components/DateSelected/index.js
  src/components/Calendar/components/DateSelectorComposer/components/MonthSelector/index.js
  src/components/Calendar/components/DateSelectorComposer/components/YearSelector/index.js
  src/components/Calendar/components/DateSelectorComposer/index.js
Due: eslint --max-warnings=0 --fix, prettier --write

chore: complete virtual scroll
  src/components/Calendar/components/DateSelectorComposer/components/SelectorModal/index.js
  src/components/Calendar/components/DateSelectorComposer/components/SelectorModal/index.scss
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

chore: trying make central scroll
  src/components/Calendar/components/DateSelectorComposer/components/SelectorModal/index.js
  src/components/Calendar/components/DateSelectorComposer/utils/arraysGenerators.js
Due: eslint --max-warnings=0 --fix, prettier --write

feat: calendar content done
  src/components/Calendar/components/DayComposer/components/DayButton/index.js
  src/components/Calendar/components/DayComposer/components/DayButton/index.scss
  src/components/Calendar/components/DayComposer/index.js
  src/components/Calendar/components/DayComposer/index.scss
  src/components/Calendar/components/NavigationButton/index.js
  src/components/Calendar/components/NavigationButton/index.scss
  src/components/Calendar/components/WeekDayComposer/components/WeekDay/index.js
  src/components/Calendar/components/WeekDayComposer/components/WeekDay/index.scss
  src/components/Calendar/components/WeekDayComposer/index.js
  src/components/Calendar/components/WeekDayComposer/index.scss
  src/components/Calendar/components/WeekDayComposer/utils/weekDays.js
  src/components/Calendar/index.js
  src/components/Calendar/index.scss
  src/styles/colors.scss
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

fix: align active item in center
  src/components/Calendar/components/DateSelectorComposer/components/SelectorModal/components/ModalItem/index.js
  src/components/Calendar/components/DateSelectorComposer/components/SelectorModal/index.js
  src/components/Calendar/components/DateSelectorComposer/components/SelectorModal/index.scss
  src/components/Calendar/components/DateSelectorComposer/utils/ModalController.js
  src/components/Calendar/components/DateSelectorComposer/utils/arraysGenerators.js
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

chore: implements scroll selectors
  src/components/Calendar/components/DateSelectorComposer/components/DateSelected/index.js
  src/components/Calendar/components/DateSelectorComposer/components/DateSelected/index.scss
  src/components/Calendar/components/DateSelectorComposer/components/MonthSelector/index.js
  src/components/Calendar/components/DateSelectorComposer/components/MonthSelector/index.scss
  src/components/Calendar/components/DateSelectorComposer/components/SelectorItem/index.js
  src/components/Calendar/components/DateSelectorComposer/components/SelectorItem/index.scss
  src/components/Calendar/components/DateSelectorComposer/components/SelectorModal/components/ModalItem/index.js
  src/components/Calendar/components/DateSelectorComposer/components/SelectorModal/utils/scrollModal.js
  src/components/Calendar/components/DateSelectorComposer/components/YearSelector/index.js
  src/components/Calendar/components/DateSelectorComposer/components/YearSelector/index.scss
  src/components/Calendar/components/DateSelectorComposer/index.js
  src/components/Calendar/components/DateSelectorComposer/index.scss
  src/components/Calendar/index.js
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

feat: implements date modal
  src/components/Calendar/components/DateSelectorComposer/components/MonthSelector/index.js
  src/components/Calendar/components/DateSelectorComposer/components/SelectorModal/components/ModalItem/index.js
  src/components/Calendar/components/DateSelectorComposer/components/SelectorModal/components/ModalItem/index.scss
  src/components/Calendar/components/DateSelectorComposer/components/SelectorModal/index.js
  src/components/Calendar/components/DateSelectorComposer/components/SelectorModal/index.scss
  src/components/Calendar/components/DateSelectorComposer/index.js
  src/components/Calendar/components/DateSelectorComposer/index.scss
  src/components/Calendar/components/DateSelectorComposer/utils/ModalController.js
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

chore: add lodash
  pnpm-lock.yaml
Due: none

fix: adjust modal height
  src/components/Button/index.scss
  src/components/Calendar/components/DateSelectorComposer/components/MonthSelector/index.js
  src/components/Calendar/components/DateSelectorComposer/components/SelectorModal/index.js
  src/components/Calendar/components/DateSelectorComposer/components/YearSelector/index.js
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

feat: testes de renderização
  src/components/TextInput/index.spec.js
  src/components/UploadImage/index.js
  src/components/UploadImage/index.spec.js
Due: eslint --max-warnings=0 --fix, prettier --write

fix: week days abbreviation fix
  src/components/Calendar/components/NavigationButton/index.js
  src/components/Calendar/components/WeekDayComposer/utils/weekDays.js
  src/components/Calendar/images/nav-button.svg
Due: eslint --max-warnings=0 --fix, prettier --write

feat: novos testes
  src/components/Button/index.spec.js
  src/components/TextInput/index.spec.js
  src/components/UploadImage/index.js
  src/components/UploadImage/index.spec.js
Due: eslint --max-warnings=0 --fix, prettier --write

fix: erro nos testes e criado uploadimage stories
  src/components/UploadImage/index.spec.js
  src/stories/UploadImage.stories.js
Due: eslint --max-warnings=0 --fix, prettier --write

fix: import PetSizePage storybook
  src/stories/PetSizePage.stories.js
Due: eslint --max-warnings=0 --fix, prettier --write

feat: create pet size page (#295)
  src/layouts/index.scss
  src/layouts/pages/PetSize/index.js
  src/layouts/pages/PetSize/index.scss
  src/stories/PetSizePage.stories.js
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

fix: media query day composer fixed
  src/components/Calendar/components/DayComposer/components/DayButton/index.scss
  src/components/Calendar/components/DayComposer/index.scss
  src/components/Calendar/components/WeekDayComposer/components/WeekDay/index.scss
  src/layouts/components/SideMenu/index.scss
  src/styles/colors.scss
Due: prettier --write, stylelint --fix

fix: bug mobile selector fixed
  src/components/Calendar/components/DateSelectorComposer/components/MonthSelector/index.js
  src/components/Calendar/components/DateSelectorComposer/components/YearSelector/index.js
  src/components/Calendar/components/DateSelectorComposer/components/YearSelector/index.scss
  src/components/Calendar/components/DayComposer/components/DayButton/index.js
  src/components/Calendar/components/DayComposer/index.js
  src/components/Calendar/index.js
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

feat: add functionality to configure lateral spacing (#292)
  src/components/Sliding/index.js
  src/components/Sliding/index.scss
  src/components/Sliding/utils/activeSlide.js
  src/components/Sliding/utils/activeSlideShuffle.js
  src/stories/Sliding.stories.js
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

feat: namepet getted by commit
  src/components/TextInput/index.scss
  src/layouts/pages/PetName/index.js
  src/layouts/pages/PetName/index.scss
  src/stories/PetName.stories.js
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

fix: upload getImage
  src/layouts/pages/PetName/index.js
Due: eslint --max-warnings=0 --fix, prettier --write

fix: change component name
  src/layouts/pages/PetName/index.js
  src/layouts/pages/PetName/index.scss
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

fix: petname css
  src/layouts/pages/PetName/index.scss
Due: prettier --write, stylelint --fix

fix: remove unnecessary
  src/layouts/pages/PetName/index.scss
Due: prettier --write, stylelint --fix

fix: object properties
  src/components/Calendar/components/DateSelectorComposer/components/DateSelected/index.js
  src/components/Calendar/components/DateSelectorComposer/components/MonthSelector/index.js
  src/components/Calendar/components/DateSelectorComposer/components/SelectorItem/index.js
  src/components/Calendar/components/DateSelectorComposer/components/SelectorModal/components/ModalItem/index.js
  src/components/Calendar/components/DateSelectorComposer/index.js
  src/components/Calendar/components/DayComposer/index.js
  src/components/Calendar/index.js
Due: eslint --max-warnings=0 --fix, prettier --write

fix: add bem
  src/components/Calendar/components/DateSelectorComposer/components/DateSelected/index.js
  src/components/Calendar/components/DateSelectorComposer/components/MonthSelector/index.js
  src/components/Calendar/components/DateSelectorComposer/components/MonthSelector/index.scss
  src/components/Calendar/components/DateSelectorComposer/components/SelectorModal/index.js
  src/components/Calendar/components/DateSelectorComposer/components/SelectorModal/index.scss
  src/components/Calendar/components/DateSelectorComposer/components/YearSelector/index.js
  src/components/Calendar/components/DateSelectorComposer/components/YearSelector/index.scss
  src/components/Calendar/components/DateSelectorComposer/index.js
  src/components/Calendar/components/DateSelectorComposer/utils/ModalController.js
  src/components/Calendar/components/DayComposer/index.js
  src/components/Calendar/index.js
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

refactor: ajustes nos parametros e testes removidos
  src/components/TextInput/index.spec.js
  src/components/UploadImage/index.spec.js
Due: eslint --max-warnings=0 --fix, prettier --write

fix: border
  src/components/TextInput/index.scss
Due: prettier --write, stylelint --fix

feat: namepet recovered from commit (#307)
  src/layouts/pages/PetName/index.js
  src/layouts/pages/PetName/index.scss
  src/stories/PetName.stories.js
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

fix: array fixed
  src/components/Calendar/components/DateSelectorComposer/components/DateSelected/index.js
  src/components/Calendar/components/DateSelectorComposer/components/MonthSelector/index.js
  src/components/Calendar/components/DateSelectorComposer/components/SelectorModal/index.scss
  src/components/Calendar/components/DateSelectorComposer/components/YearSelector/index.js
  src/components/Calendar/components/DateSelectorComposer/index.js
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

fix: css
  src/components/Calendar/components/DateSelectorComposer/components/MonthSelector/index.js
  src/components/Calendar/components/DateSelectorComposer/components/SelectorItem/index.js
  src/components/Calendar/components/DateSelectorComposer/components/SelectorModal/components/ModalItem/index.js
  src/components/Calendar/components/DateSelectorComposer/components/SelectorModal/components/ModalItem/index.scss
  src/components/Calendar/components/DateSelectorComposer/components/SelectorModal/index.js
  src/components/Calendar/components/DateSelectorComposer/components/YearSelector/index.js
  src/components/Calendar/components/DateSelectorComposer/index.js
  src/components/Calendar/components/DateSelectorComposer/index.scss
  src/components/Calendar/components/DateSelectorComposer/utils/ModalController.js
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

feat: actual day implemented
  src/components/Calendar/components/DateSelectorComposer/index.scss
  src/components/Calendar/components/DayComposer/components/DayButton/index.js
  src/components/Calendar/components/DayComposer/components/DayButton/index.scss
  src/components/Calendar/components/DayComposer/index.js
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

refactor: remove border and fix the design to be the same as figma
  src/layouts/pages/PetVet/images/check.svg
  src/layouts/pages/PetVet/index.js
  src/layouts/pages/PetVet/index.scss
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

refactor: fix background color input and border
  src/layouts/pages/PetVet/index.scss
Due: prettier --write, stylelint --fix
