Repository devhatt/pet-dex-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

refactor: remove border and fix the design to be the same as figma (#308)
  src/layouts/pages/PetVet/images/check.svg
  src/layouts/pages/PetVet/index.js
  src/layouts/pages/PetVet/index.scss
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

feat: testes de renderização (#300)
  src/components/Button/index.spec.js
  src/components/TextInput/index.spec.js
  src/components/UploadImage/index.js
  src/components/UploadImage/index.spec.js
  src/stories/UploadImage.stories.js
Due: eslint --max-warnings=0 --fix, prettier --write

feat: add markup
  src/layouts/pages/CreateAccount/index.js
  src/layouts/pages/CreateAccount/index.scss
  src/layouts/pages/CreateAccount/index.spec.js
  src/router/routes/app/main-routes/routes/account.js
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

feat: add form markup
  src/layouts/pages/CreateAccount/index.js
  src/layouts/pages/CreateAccount/index.scss
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

fix: form inputs
  src/layouts/pages/CreateAccount/index.js
  src/layouts/pages/CreateAccount/index.scss
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

fix: organize setters and getters
  src/components/Calendar/components/DayComposer/components/DayButton/index.js
  src/components/Calendar/components/DayComposer/index.js
  src/components/Calendar/index.js
Due: eslint --max-warnings=0 --fix, prettier --write

fix: type for inputs
  src/layouts/pages/CreateAccount/index.js
  src/layouts/pages/CreateAccount/index.scss
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

fix: ajustado o componente Upload Image
  src/components/UploadImage/index.scss
Due: prettier --write, stylelint --fix

feat: code-style
  src/components/MyPets/index.js
  src/components/MyPetsCard/index.js
  src/components/MyPetsCard/index.scss
  src/components/PetAvatar/index.js
  src/components/PetAvatar/index.scss
  src/components/PetGender/images/femaleIcon.svg
  src/components/PetGender/images/maleIcon.svg
  src/components/PetGender/index.js
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

feat: mypets
  src/components/MyPets/images/arrowLeft.svg
  src/components/MyPets/images/arrowRight.svg
  src/components/MyPets/index.js
  src/components/MyPets/index.scss
  src/components/MyPetsCard/index.js
  src/components/MyPetsCard/index.scss
  src/stories/MyPets.stories.js
  src/stories/MyPetsCard.stories.js
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

feat: mypetscard
  src/components/MyPets/index.js
  src/components/MyPets/index.scss
  src/components/MyPetsCard/index.js
  src/components/MyPetsCard/index.scss
  src/components/PetAvatar/index.js
  src/stories/MyPets.stories.js
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

Path conditions:
  eslint --max-warnings=0 --fix: any of: *.js
  prettier --write: (any of: *.js) or (any of: *.scss)
  stylelint --fix: any of: *.scss
