Repository devhatt/pet-dex-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

Update breakpoints.scss
  src/styles/breakpoints.scss
Due: prettier --write, stylelint --fix

Updade breakpoints.scss
  src/styles/breakpoints.scss
Due: prettier --write, stylelint --fix

change rem to em
  src/styles/breakpoints.scss
Due: prettier --write, stylelint --fix

fix: add fonts
  .storybook/preview-head.html
Due: none

feat: add autodocs by default
  .storybook/main.js
  src/stories/Button.stories.js
Due: eslint --fix, prettier --write

feat: add upload image component (#66)
  src/components/UploadImage/img/photo-icon.svg
  src/components/UploadImage/img/placeholder.svg
  src/components/UploadImage/img/plus-icon.svg
  src/components/UploadImage/index.js
  src/components/UploadImage/index.scss
Due: eslint --fix, prettier --write, stylelint --fix

Create html and css sidemenu mobile
  package.json
  src/home/components/SideMenu/images/configuracoes.svg
  src/home/components/SideMenu/images/conta.svg
  src/home/components/SideMenu/images/doacoes.svg
  src/home/components/SideMenu/images/exit.svg
  src/home/components/SideMenu/images/exitmenu.svg
  src/home/components/SideMenu/images/meuspets.svg
  src/home/components/SideMenu/images/notifications.svg
  src/home/components/SideMenu/images/perfil.svg
  src/home/components/SideMenu/images/petdex.svg
  src/home/components/SideMenu/index.js
  src/home/components/SideMenu/index.scss
  src/home/components/navigation/index.js
  src/home/index.js
  src/home/index.scss
Due: eslint --fix, prettier --write, stylelint --fix

chore: resolved conflicts
  pnpm-lock.yaml
Due: none

fix: fix the logical to set placeholder, changed the name of the events (#52)
  src/components/TextInput/index.js
  src/components/TextInput/index.scss
Due: eslint --fix, prettier --write, stylelint --fix

Criei componente de upload de imagens (#54)
  src/components/TextInput/index.scss
  src/components/UploadImage/img/photo-icon.svg
  src/components/UploadImage/img/placeholder.svg
  src/components/UploadImage/img/plus-icon.svg
  src/components/UploadImage/index.js
  src/components/UploadImage/index.scss
Due: eslint --fix, prettier --write, stylelint --fix

Revert "Criei componente de upload de imagens (#54)" (#64)
  src/components/TextInput/index.scss
  src/components/UploadImage/img/photo-icon.svg
  src/components/UploadImage/img/placeholder.svg
  src/components/UploadImage/img/plus-icon.svg
  src/components/UploadImage/index.js
  src/components/UploadImage/index.scss
Due: eslint --fix, prettier --write, stylelint --fix

Arquivo SCSS de definições de fontes para o projeto criado. (#51)
  package-lock.json
  src/home/index.html
  src/styles/base.scss
  src/styles/fonts.scss
Due: prettier --write, stylelint --fix

Bug fix: fonts.scss
  src/styles/fonts.scss
Due: prettier --write, stylelint --fix

Update index.scss
  src/home/components/SideMenu/index.scss
Due: prettier --write, stylelint --fix

update
  src/home/components/SideMenu/index.scss
Due: prettier --write, stylelint --fix

style: changed some units from px to rem and removed fixed width/height
  src/components/PetCard/index.js
  src/components/PetCard/index.scss
Due: eslint --fix, prettier --write, stylelint --fix

refactor: changed the way font was imported, refactor on petcard width/height, refactor petcard constructor
  src/components/PetCard/index.scss
  src/home/main.js
Due: eslint --fix, prettier --write, stylelint --fix

refactor: fazendo as alterações solicitadas no petcard, incluindo importação de variáveis, refactor para o src da imagem ser incluido de forma automatizada e organização do sccs
  src/components/PetCard/index.scss
  src/components/TextInput/index.scss
  src/styles/var.scss
Due: prettier --write, stylelint --fix

refactor: alterando o alt das imagens
  src/components/TextInput/index.scss
  src/styles/var.scss
Due: prettier --write, stylelint --fix

Delete src/styles/var.scss
  src/styles/var.scss
Due: prettier --write, stylelint --fix

style: indentation of html in js file
  src/components/PetCard/index.js
Due: eslint --fix, prettier --write

style: indentation fix in js file
  src/components/PetCard/index.js
Due: eslint --fix, prettier --write

feat: visualization of card title in 2 lines
  src/components/PetCard/index.js
  src/components/PetCard/index.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: transition when hover petcard
  src/components/PetCard/index.scss
  src/components/TextInput/index.scss
Due: prettier --write, stylelint --fix

refactor: changed the colors from hex to rgba
  src/components/PetCard/index.scss
Due: prettier --write, stylelint --fix

feat: title height adapt to the title size, and the petImage move down
  src/components/PetCard/index.js
  src/components/PetCard/index.scss
Due: eslint --fix, prettier --write, stylelint --fix

style: removed some numbers after the comma for better reading
  src/components/PetCard/index.scss
  src/components/TextInput/index.scss
  src/styles/base.scss
Due: prettier --write, stylelint --fix

refactor: reverted wrong changes made when i rebased
  src/components/TextInput/index.scss
Due: prettier --write, stylelint --fix

test
  src/home/index.html
  src/public/favicon/android-icon-192x192.ico
  src/public/favicon/apple-touch-icon-114x114.ico
  src/public/favicon/apple-touch-icon-120x120.ico
  src/public/favicon/apple-touch-icon-144x144.ico
  src/public/favicon/apple-touch-icon-152x152.ico
  src/public/favicon/apple-touch-icon-180x180.ico
  src/public/favicon/apple-touch-icon-57x57.ico
  src/public/favicon/apple-touch-icon-60x60.ico
  src/public/favicon/apple-touch-icon-72x72.ico
  src/public/favicon/apple-touch-icon-76x76.ico
  src/public/favicon/apple-touch-icon-96x96.ico
  src/public/favicon/favicon-16x16.ico
  src/public/favicon/favicon-32x32.ico
  vite.config.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: (any of: *.js) or (any of: *.scss)
  stylelint --fix: any of: *.scss
