Repository devhatt/pet-dex-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.js": ["eslint --max-warnings=0 --fix ", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"]
}

refactor: centralização das regras de validação de senha #287 (#297)
  src/components/ChangePassword/index.js
  src/components/LoginForm/index.js
Due: eslint --max-warnings=0 --fix, prettier --write

feat: add dependencias entre workflows e ajust code-style7
  .github/workflows/build.yml
  .github/workflows/code-style.yml
Due: none

ajust workflows
  .github/workflows/autoAssigned.yml
  .github/workflows/build.yml
  .github/workflows/code-style.yml
Due: none

add setup env script
  setup.mjs
Due: none

fix: removendo dependencias de workflows
  .github/workflows/build.yml
  .github/workflows/code-style.yml
Due: none

change name to base fowflows
  .github/workflows/base-workflows.yml
Due: none

add code owners
  .github/CODEOWNERS
Due: none

feat: add router when click on button
  src/layouts/app/pages/NoPetRegirested/index.js
Due: eslint --max-warnings=0 --fix, prettier --write

ajust codewoners
  .github/CODEOWNERS
Due: none

refactor: refactor button listen
  src/layouts/app/pages/NoPetRegirested/index.js
Due: eslint --max-warnings=0 --fix, prettier --write

Adiciona roteamento ao clicar no botão "Cadastrar pet" (#298)
  src/layouts/app/pages/NoPetRegirested/index.js
Due: eslint --max-warnings=0 --fix, prettier --write

Fixed codestyle workflow (#271)
  .github/CODEOWNERS
  .github/workflows/autoAssigned.yml
  .github/workflows/base-workflows.yml
  .github/workflows/build.yml
  .github/workflows/code-style.yml
  setup.mjs
Due: none

minor path fixes
  jsconfig.json
  src/components/AddPet/index.js
  src/stories/PetRegister.stories.js
  src/stories/PetRegisterPage.stories.js
  src/stories/PetVetPage.stories.js
  src/stories/PetWeightPage.stories.js
  vite.config.js
Due: eslint --max-warnings=0 --fix, prettier --write

fix import order
  src/components/AddPet/index.js
Due: eslint --max-warnings=0 --fix, prettier --write

feat: testes de renderização
  src/components/TextInput/index.spec.js
  src/components/UploadImage/index.js
  src/components/UploadImage/index.spec.js
Due: eslint --max-warnings=0 --fix, prettier --write

chore: content paddings removed
  src/layouts/index.scss
Due: prettier --write, stylelint --fix

feat: create general size page
  src/layouts/app/pages/GeneralSize/index.js
  src/layouts/app/pages/GeneralSize/index.scss
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

feat: finish PetSizePage
  src/layouts/app/pages/GeneralSize/index.js
  src/layouts/app/pages/PetSize/index.js
  src/layouts/app/pages/PetSize/index.scss
  src/stories/PetSizePage.stories.js
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

chore: change and remove scss unecessary
  src/layouts/app/pages/PetSize/index.js
  src/layouts/app/pages/PetSize/index.scss
  src/stories/PetSizePage.stories.js
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

chore: add direct listen and fix weithRange
  src/layouts/pages/PetSize/index.js
  src/layouts/pages/PetSize/index.scss
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

fix: remove width 100% button-container
  src/layouts/pages/PetSize/index.scss
Due: prettier --write, stylelint --fix

refactor: fix the mode the slide switches according to the slide mode
  src/components/Sliding/index.js
  src/components/Sliding/index.scss
  src/components/Sliding/utils/activeSlideShuffle.js
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

feat: cria pagina de login issue-240
  src/layouts/app/pages/Login/images/pet-and-dog__login-page.png
  src/layouts/app/pages/Login/images/petdex-logo__login-page.png
  src/layouts/app/pages/Login/index.js
  src/layouts/app/pages/Login/index.scss
  src/stories/Login.stories.js
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

chore: update branch
  src/components/Calendar/components/DateButton/index.js
  src/components/Calendar/components/DateButton/index.scss
  src/components/Calendar/components/DateSelector/index.js
  src/components/Calendar/components/DateSelector/index.scss
  src/components/Calendar/components/Day/index.js
  src/components/Calendar/components/Day/index.scss
  src/components/Calendar/components/Days/index.js
  src/components/Calendar/components/NavButton/index.js
  src/components/Calendar/components/NavButton/index.scss
  src/components/Calendar/images/arrows.svg
  src/components/Calendar/images/navButton.svg
  src/components/Calendar/index.js
  src/components/Calendar/index.scss
  src/stories/Calendar.stories.js
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

chore: update branch
  src/components/Calendar/components/DateButton/index.js
Due: eslint --max-warnings=0 --fix, prettier --write

chore: update branch
  src/components/Calendar/components/DateButton/index.js
  src/components/Calendar/components/DateButton/index.scss
  src/components/Calendar/components/Day/index.js
  src/components/Calendar/components/Day/index.scss
  src/components/Calendar/components/NavButton/index.scss
  src/components/Calendar/index.js
  src/components/Calendar/index.scss
  src/styles/colors.scss
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

chore: colors adjusted
  src/components/Calendar/components/DateButton/index.scss
  src/styles/colors.scss
Due: prettier --write, stylelint --fix

fix: scroll fixes
  src/components/Calendar/components/DateSelectorComposer/components/MonthSelector/index.scss
  src/components/Calendar/components/DateSelectorComposer/components/YearSelector/index.scss
Due: prettier --write, stylelint --fix

chore: remove sliding
  src/components/Calendar/components/CalendarSliding/index.js
  src/components/Calendar/components/CalendarSliding/index.scss
  src/components/Calendar/components/DateSelectorComposer/components/MonthSelector/index.js
  src/components/Calendar/components/DateSelectorComposer/components/MonthSelector/index.scss
  src/components/Calendar/components/DateSelectorComposer/components/SelectorModal/index.js
  src/components/Calendar/components/DateSelectorComposer/components/SelectorModal/utils/scrollModal.js
  src/components/Calendar/components/DateSelectorComposer/components/YearSelector/index.js
  src/components/Calendar/components/DateSelectorComposer/components/YearSelector/index.scss
  src/components/Calendar/components/DateSelectorComposer/index.js
  src/components/Calendar/components/DateSelectorComposer/index.scss
  src/components/Calendar/components/DateSelectorComposer/utils/ModalController.js
  src/components/Calendar/components/DayComposer/components/DayButton/index.js
  src/components/Calendar/components/DayComposer/components/DayButton/index.scss
  src/components/Calendar/components/DayComposer/index.js
  src/components/Calendar/components/DayComposer/index.scss
  src/components/Calendar/index.js
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

chore: index.scss adjusted
  src/components/Button/index.scss
  src/layouts/components/SideMenu/index.scss
Due: prettier --write, stylelint --fix

feat: implements month selector
  src/components/Calendar/components/CalendarSliding/components/DayComposer/components/DayButton/index.js
  src/components/Calendar/components/CalendarSliding/components/DayComposer/components/DayButton/index.scss
  src/components/Calendar/components/CalendarSliding/components/DayComposer/index.js
  src/components/Calendar/components/CalendarSliding/components/DayComposer/index.scss
  src/components/Calendar/components/CalendarSliding/index.js
  src/components/Calendar/components/CalendarSliding/index.scss
  src/components/Calendar/components/DateSelectorComposer/components/MonthSelector/index.js
  src/components/Calendar/components/DateSelectorComposer/components/MonthSelector/index.scss
  src/components/Calendar/components/DateSelectorComposer/components/SelectorItem/index.js
  src/components/Calendar/components/DateSelectorComposer/components/SelectorItem/index.scss
  src/components/Calendar/components/DateSelectorComposer/components/SelectorModal/components/ModalItem/index.js
  src/components/Calendar/components/DateSelectorComposer/components/SelectorModal/components/ModalItem/index.scss
  src/components/Calendar/components/DateSelectorComposer/components/SelectorModal/index.js
  src/components/Calendar/components/DateSelectorComposer/components/SelectorModal/index.scss
  src/components/Calendar/components/DateSelectorComposer/components/YearSelector/index.js
  src/components/Calendar/components/DateSelectorComposer/components/YearSelector/index.scss
  src/components/Calendar/components/DateSelectorComposer/index.js
  src/components/Calendar/components/DateSelectorComposer/index.scss
  src/components/Calendar/components/DateSelectorComposer/utils/monthArray.js
  src/components/Calendar/components/NavigationButton/index.scss
  src/components/Calendar/index.js
  src/components/Calendar/utils/months.js
  src/stories/Calendar.stories.js
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

chore: year selector scroll
  src/components/Calendar/components/DateSelectorComposer/components/SelectorItem/index.js
  src/components/Calendar/components/DateSelectorComposer/components/SelectorItem/index.scss
  src/components/Calendar/components/DateSelectorComposer/components/SelectorModal/index.scss
  src/components/Calendar/components/DateSelectorComposer/components/YearSelector/index.js
  src/components/Calendar/components/DateSelectorComposer/components/YearSelector/index.scss
  src/components/Calendar/components/DateSelectorComposer/index.js
  src/components/Calendar/components/DateSelectorComposer/utils/ModalController.js
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

chore: implements year selector
  src/components/Calendar/components/DateSelectorComposer/components/MonthSelector/index.js
  src/components/Calendar/components/DateSelectorComposer/components/SelectorModal/index.js
  src/components/Calendar/components/DateSelectorComposer/components/SelectorModal/utils/scrollModal.js
  src/components/Calendar/components/DateSelectorComposer/components/YearSelector/index.js
  src/components/Calendar/components/DateSelectorComposer/components/YearSelector/index.scss
  src/components/Calendar/components/DateSelectorComposer/index.js
  src/components/Calendar/components/DateSelectorComposer/index.scss
  src/components/Calendar/components/DateSelectorComposer/utils/ModalController.js
  src/components/Calendar/components/DateSelectorComposer/utils/arraysGenerators.js
  src/components/Calendar/index.js
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

chore: implements scroll snap
  src/components/Calendar/components/DateSelectorComposer/components/SelectorModal/index.js
  src/components/Calendar/components/DateSelectorComposer/components/SelectorModal/index.scss
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

chore: update main
  pnpm-lock.yaml
Due: none

fix: add color gray250
  src/styles/colors.scss
Due: prettier --write, stylelint --fix

fix: month selector array
  src/components/Calendar/components/DateSelectorComposer/index.js
  src/components/Calendar/components/DateSelectorComposer/utils/arraysGenerators.js
Due: eslint --max-warnings=0 --fix, prettier --write
