Repository devhatt/pet-dex-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

refactor: Remover comentários do index.js do RadioButton
  src/components/RadioButton/index.js
Due: eslint --fix, prettier --write

style: Pequenos ajustes RadioButton
  src/components/RadioButton/index.js
  src/components/RadioButton/index.scss
Due: eslint --fix, prettier --write, stylelint --fix

Update Readme.mdx
  src/stories/readme/Readme.mdx
Due: none

fix: delete some blank lines
  src/components/Sliding/index.js
Due: eslint --fix, prettier --write

chore: eslint and prettier errors
  .eslintrc.json
  package.json
  pnpm-lock.yaml
Due: none

tests: skip broken test
  src/home/components/PetWeightPage/petWeightPage.spec.js
Due: eslint --fix, prettier --write

test: add button tests
  pnpm-lock.yaml
  vite.config.js
Due: eslint --fix, prettier --write

test: add new ones
  src/components/Drawer/index.spec.js
Due: eslint --fix, prettier --write

feat: matchmedia mock for testing
  src/utils/mocks/matchmedia.js
Due: eslint --fix, prettier --write

refactor: spaccing
  src/components/Drawer/index.spec.js
Due: eslint --fix, prettier --write

refactor: render test
  src/components/Drawer/index.spec.js
Due: eslint --fix, prettier --write

refactor: render test
  src/__tests__/setup.js
  src/components/Drawer/index.spec.js
Due: eslint --fix, prettier --write

refactor: folder organization
  src/__tests__/setup.js
  src/utils/mocks/matchmedia.js
Due: eslint --fix, prettier --write

refactor: close test
  src/components/Drawer/index.spec.js
Due: eslint --fix, prettier --write

refactor: improving tests quality
  src/components/Drawer/index.spec.js
  src/utils/mocks/matchmedia.js
Due: eslint --fix, prettier --write

test: add drawer tests || window.matchmedia mock (#216)
  pnpm-lock.yaml
  src/__tests__/setup.js
  src/components/Drawer/index.spec.js
  vite.config.js
Due: eslint --fix, prettier --write

chore: change slide css and remove updateWidth function
  src/components/Sliding/index.js
  src/components/Sliding/index.scss
  src/stories/Sliding.stories.js
Due: eslint --fix, prettier --write, stylelint --fix

refactor: refactor testes
  src/components/Sliding/index.js
  src/components/Sliding/index.spec.js
  src/stories/Sliding.stories.js
Due: eslint --fix, prettier --write

Issue 188 (#206)
  src/components/Checkbox/index.scss
  src/components/RadioButton/index.js
  src/components/RadioButton/index.scss
  src/styles/colors.scss
Due: eslint --fix, prettier --write, stylelint --fix

add style file
  src/components/PetCard/index.js
  src/home/components/PetRegisterPage/images/afghanHound.svg
  src/home/components/PetRegisterPage/images/akita.svg
  src/home/components/PetRegisterPage/images/beagle.svg
  src/home/components/PetRegisterPage/images/bichonFrise.svg
  src/home/components/PetRegisterPage/images/borderCollie.svg
  src/home/components/PetRegisterPage/images/boxer.svg
  src/home/components/PetRegisterPage/images/chowChow.svg
  src/home/components/PetRegisterPage/images/mixedBreed.svg
  src/home/components/PetRegisterPage/index.js
  src/home/components/PetRegisterPage/index.scss
  src/home/index.js
  src/stories/PetCard.stories.js
  src/stories/PetregisterPage.stories.js
  src/stories/readme/Readme.mdx
Due: eslint --fix, prettier --write, stylelint --fix

refactor: refactor stories for petcard
  src/home/components/PetRegisterPage/index.js
  src/stories/PetCard.stories.js
  src/stories/PetRegisterPage.stories.js
Due: eslint --fix, prettier --write

chore: add husky
  .husky/commit-msg
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
  src/home/index.js
  src/stories/PetRegisterPage.stories.js
Due: eslint --fix, prettier --write

chore: add prepare commit msg
  .husky/prepare-commit-msg
  git
Due: none

feat: feat for responsive screens
  src/home/components/PetRegisterPage/index.js
  src/home/components/PetRegisterPage/index.scss
Due: eslint --fix, prettier --write, stylelint --fix

refactor: refactor responsive components
  src/home/components/PetRegisterPage/index.js
  src/home/components/PetRegisterPage/index.scss
  src/stories/PetRegisterPage.stories.js
Due: eslint --fix, prettier --write, stylelint --fix

refactor: rename event submit
  src/home/components/PetRegisterPage/index.js
  src/home/components/PetRegisterPage/index.scss
Due: eslint --fix, prettier --write, stylelint --fix

refactor: refactor styles responsive
  src/home/components/PetRegisterPage/index.scss
Due: prettier --write, stylelint --fix

feat: add breeds array to manipulation end submit references
  src/home/components/PetRegisterPage/index.js
  src/home/components/PetRegisterPage/index.scss
Due: eslint --fix, prettier --write, stylelint --fix

refactor: check if card render correcly
  src/home/components/PetRegisterPage/index.js
Due: eslint --fix, prettier --write

chore: add test for petRegisterPage
  src/home/components/PetRegisterPage/index.spec.js
Due: eslint --fix, prettier --write

refactor: responsive card breed
  src/home/components/PetRegisterPage/index.scss
  src/home/components/PetRegisterPage/index.spec.js
Due: eslint --fix, prettier --write, stylelint --fix

fix: adjust button component for resolution screen
  src/home/components/PetRegisterPage/index.scss
Due: prettier --write, stylelint --fix

fix: fix bugs visuals in breed container
  src/components/PetCard/index.scss
  src/home/components/PetRegisterPage/index.js
  src/home/components/PetRegisterPage/index.scss
  src/stories/PetRegisterPage.stories.js
Due: eslint --fix, prettier --write, stylelint --fix

refactor: adjust class for BEM
  src/home/components/PetRegisterPage/index.js
  src/home/components/PetRegisterPage/index.scss
Due: eslint --fix, prettier --write, stylelint --fix

style: refactor styles for BEM standard
  src/home/components/PetRegisterPage/index.js
  src/home/components/PetRegisterPage/index.scss
Due: eslint --fix, prettier --write, stylelint --fix

chore: update dependencies pnpm-lock
  src/home/index.js
Due: eslint --fix, prettier --write

fix: delete console log in files
  src/components/Card/index.js
  src/stories/PetCard.stories.js
  src/stories/readme/Readme.mdx
Due: eslint --fix, prettier --write

fix: delete file unnecessary
  git
Due: none

feat: update main with branchs
  README.md
Due: none

fix: set value param into TextInput
  README.md
  src/components/TextInput/index.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: (any of: *.js) or (any of: *.scss)
  stylelint --fix: any of: *.scss
