Repository devhatt/pet-dex-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.js": ["eslint --fix", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"]
}

feat: code-style (#213)
  .github/workflows/code-style.yml
Due: none

feat: drawer component (#191)
  pnpm-lock.yaml
  src/components/Drawer/images/close.svg
  src/components/Drawer/images/line.svg
  src/components/Drawer/index.js
  src/components/Drawer/index.scss
  src/home/index.html
  src/stories/Drawer.stories.js
  src/utils/swiper.js
Due: eslint --fix, prettier --write, stylelint --fix

fix: resolve pnpm-lock conflicts
  pnpm-lock.yaml
Due: none

feat: adiciona tela de inserção de peso do pet
  src/components/RangeSlider/index.scss
  src/components/TextInput/index.js
  src/components/UploadImage/index.scss
  src/home/components/PetWeightPage/index.js
  src/home/components/PetWeightPage/index.scss
  src/home/index.scss
Due: eslint --fix, prettier --write, stylelint --fix

style: mudanças do lint nos estilos
  src/home/components/PetWeightPage/index.scss
  src/home/index.scss
Due: prettier --write, stylelint --fix

style: ajustes minimos nos estilos e nomeclaturas
  src/components/RangeSlider/index.scss
  src/components/UploadImage/index.scss
  src/home/components/PetWeightPage/index.scss
Due: prettier --write, stylelint --fix

refactor: ajustes no input
  src/components/TextInput/index.js
Due: eslint --fix, prettier --write

style: ajuste do lint
  src/home/components/PetWeightPage/index.scss
Due: prettier --write, stylelint --fix

feat: ajustes de nomenclatura e envio de informações de peso
  src/home/components/PetWeightPage/index.js
Due: eslint --fix, prettier --write

refactor: retira tamanhos fixos
  src/components/TextInput/index.js
  src/home/components/PetWeightPage/index.js
  src/home/components/PetWeightPage/index.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: ajustes finais na tela de peso do pet
  src/components/RadioButton/index.js
  src/home/components/PetWeightPage/index.js
  src/home/components/PetWeightPage/index.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix: ajustes nos compomentes de checkbox, radio e textInput
  src/components/Checkbox/index.scss
  src/components/RadioButton/index.scss
  src/components/TextInput/index.scss
Due: prettier --write, stylelint --fix

style: ajustes no mobile da pagina de peso
  src/home/components/PetWeightPage/index.scss
Due: prettier --write, stylelint --fix

style: ajusta estilos para tablets e telas maiores
  src/home/components/PetWeightPage/index.scss
Due: prettier --write, stylelint --fix

style: retira padding do radio input
  src/home/components/PetWeightPage/index.scss
Due: prettier --write, stylelint --fix

style: retira propriedades inefetivas e espaçamento desnecessário
  src/components/Checkbox/index.scss
  src/components/RadioButton/index.scss
Due: prettier --write, stylelint --fix

test: adiciona primeiros testes da página de peso do pet
  src/home/components/PetWeightPage/petWeightPage.spec.js
Due: eslint --fix, prettier --write

feat: adiciona página de peso do pet no storybook
  src/stories/PetWeightPage.stories.js
Due: eslint --fix, prettier --write

refactor: altera nome do evento de input para change
  src/components/TextInput/index.js
Due: eslint --fix, prettier --write

refactor: refatora código da página de peso para ficar mais legível e modular
  src/home/components/PetWeightPage/index.js
Due: eslint --fix, prettier --write

refactor: ajusta nome de método e altera insonsistências
  src/home/components/PetWeightPage/index.js
Due: eslint --fix, prettier --write

style: retira comentário
  src/home/components/PetWeightPage/petWeightPage.spec.js
Due: eslint --fix, prettier --write

fix: slint error in scss archive
  src/components/TextInput/index.scss
Due: prettier --write, stylelint --fix

refactor: refactor sliding component
  src/components/Sliding/index.js
  src/components/Sliding/index.scss
  src/stories/Sliding.stories.js
Due: eslint --fix, prettier --write, stylelint --fix

chore: implements error handling in remove method
  src/components/Sliding/index.js
Due: eslint --fix, prettier --write

Issue 189 - Ajuste no espaçamento do padding e criação de storie do componente (#203)
  pnpm-lock.yaml
  src/components/TextInput/index.js
  src/components/TextInput/index.scss
  src/home/main.js
  src/stories/TextInput.stories.js
Due: eslint --fix, prettier --write, stylelint --fix

chore: add controls in storybook
  src/components/Sliding/index.js
  src/stories/Sliding.stories.js
Due: eslint --fix, prettier --write

style: retira propriedade overflow
  src/home/index.scss
Due: prettier --write, stylelint --fix

chore: ajust engines to condize with npmrc
  package.json
Due: none

Issue 97 (#123)
  src/components/Checkbox/index.scss
  src/components/RadioButton/index.js
  src/components/RadioButton/index.scss
  src/components/RangeSlider/index.scss
  src/components/TextInput/index.js
  src/components/TextInput/index.scss
  src/components/UploadImage/index.scss
  src/home/components/PetWeightPage/index.js
  src/home/components/PetWeightPage/index.scss
  src/home/components/PetWeightPage/petWeightPage.spec.js
  src/home/index.scss
  src/stories/PetWeightPage.stories.js
Due: eslint --fix, prettier --write, stylelint --fix

test: add button tests
  .eslintrc.json
  .github/workflows/test.yml
  .gitignore
  jsconfig.json
  package.json
  setup-test.js
  src/__tests__/index.js
  src/__tests__/setup.js
  src/components/Button/button.spec.js
  src/components/Button/index.js
  vite.config.js
Due: eslint --fix, prettier --write

chore: update config
  vite.config.js
Due: eslint --fix, prettier --write

test: skip swiper tests
  .github/workflows/test.yml
  src/utils/swiper.spec.js
Due: eslint --fix, prettier --write

chore: bump lock file
  pnpm-lock.yaml
Due: none

chore: update code-style lint
  .eslintrc.json
  .lintstagedrc.json
  .prettierrc
  package.json
  pnpm-lock.yaml
Due: none

chore: ignore eslint rules in some files
  jsconfig.json
  src/components/Card/index.js
  src/components/Dropdown/index.spec.js
  src/components/TextInput/index.js
Due: eslint --fix, prettier --write

style: Alterações RadioButton e Checkbox
  src/components/Checkbox/index.scss
  src/components/RadioButton/index.scss
Due: prettier --write, stylelint --fix

style: Adicionada cor $gray250: rgb(172, 172, 181)
  src/styles/colors.scss
Due: prettier --write, stylelint --fix

style: Alterar cor de borda ao clicar no RadioButton
  src/components/RadioButton/index.js
  src/components/RadioButton/index.scss
Due: eslint --fix, prettier --write, stylelint --fix

style: Finalizando edição do RadioButton
  src/components/RadioButton/index.js
  src/components/RadioButton/index.scss
Due: eslint --fix, prettier --write, stylelint --fix
