Repository devhatt/pet-dex-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

create breakpoints.scss
  src/styles/breakpoints.scss
Due: prettier --write, stylelint --fix

Revert "create breakpoints.scss"
  src/styles/breakpoints.scss
Due: prettier --write, stylelint --fix

feat: add home page (#35)
  .eslintrc.json
  .prettierrc
  src/components/TextInput/index.scss
  src/components/button/index.js
  src/components/button/index.scss
  src/home/components/NoPetRegirestedPage/images/no-pet-regirested-page.png
  src/home/components/NoPetRegirestedPage/index.js
  src/home/components/NoPetRegirestedPage/index.scss
  src/home/components/SideMenu/index.js
  src/home/components/SideMenu/index.scss
  src/home/components/navigation/images/avatar.svg
  src/home/components/navigation/images/bell.svg
  src/home/components/navigation/images/exit.svg
  src/home/components/navigation/images/menu.svg
  src/home/components/navigation/index.js
  src/home/components/navigation/index.scss
  src/home/images/pet-dex.svg
  src/home/index.html
  src/home/index.js
  src/home/index.scss
  src/home/main.js
  src/index.html
  src/styles/base.scss
  src/styles/breakpoints.scss
  src/styles/colors.scss
  vite.config.js
Due: eslint --fix, prettier --write, stylelint --fix

devidas remoções feitas e aguardando resposta do Designer
  src/styles/fonts.scss
Due: prettier --write, stylelint --fix

identation
  src/components/TextInput/index.scss
Due: prettier --write, stylelint --fix

import correto das fontes
  src/home/index.html
  src/styles/fonts.scss
Due: prettier --write, stylelint --fix

corrigindo os nomes das variáveis
  src/styles/fonts.scss
Due: prettier --write, stylelint --fix

nomenclatura ajustada para camelCase
  src/styles/fonts.scss
Due: prettier --write, stylelint --fix

ci: add template issues, templates pr and ci for auto assign tasks
  .eslintrc.json
  .prettierrc
  package.json
  pnpm-lock.yaml
  src/components/TextInput/index.scss
  src/components/button/index.js
  src/components/button/index.scss
  src/home/components/NoPetRegirestedPage/images/no-pet-regirested-page.png
  src/home/components/NoPetRegirestedPage/index.js
  src/home/components/NoPetRegirestedPage/index.scss
  src/home/components/SideMenu/index.js
  src/home/components/SideMenu/index.scss
  src/home/components/navigation/images/avatar.svg
  src/home/components/navigation/images/bell.svg
  src/home/components/navigation/images/exit.svg
  src/home/components/navigation/images/menu.svg
  src/home/components/navigation/index.js
  src/home/components/navigation/index.scss
  src/home/images/pet-dex.svg
  src/home/index.html
  src/home/index.js
  src/home/index.scss
  src/index.html
  src/styles/base.scss
  src/styles/breakpoints.scss
  src/styles/colors.scss
  vite.config.js
Due: eslint --fix, prettier --write, stylelint --fix

add EOF
  src/components/TextInput/index.scss
Due: prettier --write, stylelint --fix

feat: add storybook to visualizate components
  .eslintrc.json
  .storybook/main.js
  .storybook/preview.js
  package.json
  pnpm-lock.yaml
  src/stories/Button.stories.ts
Due: eslint --fix, prettier --write

Create html and css sidemenu mobile
  package.json
  src/home/components/SideMenu/images/configuracoes.svg
  src/home/components/SideMenu/images/conta.svg
  src/home/components/SideMenu/images/doacoes.svg
  src/home/components/SideMenu/images/exit.svg
  src/home/components/SideMenu/images/exitmenu.svg
  src/home/components/SideMenu/images/meuspets.svg
  src/home/components/SideMenu/images/notifications.svg
  src/home/components/SideMenu/images/perfil.svg
  src/home/components/SideMenu/images/petdex.svg
  src/home/components/SideMenu/index.js
  src/home/components/SideMenu/index.scss
  src/home/components/navigation/index.js
  src/home/index.js
  src/home/index.scss
Due: eslint --fix, prettier --write, stylelint --fix

chore: resolved conflicts
  pnpm-lock.yaml
Due: none

fix: fix the logical to set placeholder, changed the name of the events (#52)
  src/components/TextInput/index.js
  src/components/TextInput/index.scss
Due: eslint --fix, prettier --write, stylelint --fix

Criei componente de uoload de imagens
  src/components/UploadImage/img/placeholder.svg
  src/components/UploadImage/img/plus.svg
  src/components/UploadImage/index.js
  src/components/UploadImage/index.scss
Due: eslint --fix, prettier --write, stylelint --fix

Criei um componente de upload de imagem
  src/components/UploadImage/index.scss
Due: prettier --write, stylelint --fix

Criei um componente de upload de imagem
  src/components/UploadImage/img/photo-added.svg
  src/components/UploadImage/index.js
  src/components/UploadImage/index.scss
Due: eslint --fix, prettier --write, stylelint --fix

Criei um componente de upload de imagem
  src/components/UploadImage/index.js
  src/home/main.js
Due: eslint --fix, prettier --write

feat: Create and adjust the UploadImage component
  src/components/UploadImage/img/photo-icon.svg
  src/components/UploadImage/img/plus-icon.svg
  src/components/UploadImage/index.js
  src/components/UploadImage/index.scss
  src/home/main.js
Due: eslint --fix, prettier --write, stylelint --fix

Made some adjustments in UploadImage component
  src/components/UploadImage/index.js
  src/components/UploadImage/index.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: A component to upload images, code with corrections made in code review
  src/components/UploadImage/index.js
  src/components/UploadImage/index.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: Made adjustments in the Upload Image component
  src/components/UploadImage/index.scss
Due: prettier --write, stylelint --fix

Criei componente de upload de imagens (#54)
  src/components/UploadImage/img/photo-icon.svg
  src/components/UploadImage/img/placeholder.svg
  src/components/UploadImage/img/plus-icon.svg
  src/components/UploadImage/index.js
  src/components/UploadImage/index.scss
Due: eslint --fix, prettier --write, stylelint --fix

Revert "Criei componente de upload de imagens (#54)"
  src/components/UploadImage/img/photo-icon.svg
  src/components/UploadImage/img/placeholder.svg
  src/components/UploadImage/img/plus-icon.svg
  src/components/UploadImage/index.js
  src/components/UploadImage/index.scss
Due: eslint --fix, prettier --write, stylelint --fix

Revert "Criei componente de upload de imagens (#54)" (#64)
  src/components/UploadImage/img/photo-icon.svg
  src/components/UploadImage/img/placeholder.svg
  src/components/UploadImage/img/plus-icon.svg
  src/components/UploadImage/index.js
  src/components/UploadImage/index.scss
Due: eslint --fix, prettier --write, stylelint --fix

Arquivo SCSS de definições de fontes para o projeto criado. (#51)
  package-lock.json
  src/home/index.html
  src/styles/base.scss
  src/styles/fonts.scss
Due: prettier --write, stylelint --fix

Bug fix: fonts.scss
  src/styles/fonts.scss
Due: prettier --write, stylelint --fix

Update index.scss
  src/home/components/SideMenu/index.scss
Due: prettier --write, stylelint --fix

Updade breakpoints.scss
  src/styles/breakpoints.scss
Due: prettier --write, stylelint --fix

Update breakpoints.scss
  src/styles/breakpoints.scss
Due: prettier --write, stylelint --fix

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: (any of: *.js) or (any of: *.scss)
  stylelint --fix: any of: *.scss
