Repository devhatt/pet-dex-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.js": ["eslint --fix", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"]
}

fix: fix methods at petRegisterPage
  src/home/components/PetRegisterPage/index.js
  src/home/index.js
Due: eslint --fix, prettier --write

style: block style code
  src/home/index.js
Due: eslint --fix, prettier --write

feat: add responsive
  src/home/components/PetRegister/index.scss
Due: prettier --write, stylelint --fix

fix: scss desktop
  src/home/components/PetRegister/index.scss
Due: prettier --write, stylelint --fix

fix: input text modified
  src/home/components/PetRegister/index.js
  src/home/components/PetRegister/index.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix: send events
  src/home/components/PetvetPage/index.js
Due: eslint --fix, prettier --write

fix: add semicolon
  src/home/components/PetvetPage/index.js
Due: eslint --fix, prettier --write

chore: starting component dropdown
  package.json
  pnpm-lock.yaml
  src/components/Dropdown/components/DropdownItem/index.js
  src/components/Dropdown/components/DropdownItem/index.scss
  src/components/Dropdown/index.js
  src/components/Dropdown/index.scss
  src/components/Dropdown/index.spec.js
  src/stories/Dropdown.stories.js
Due: eslint --fix, prettier --write, stylelint --fix

feat: Componentes Radio Button e Checkbox
  .eslintrc.json
  .github/workflows/autoAssigned.yml
  .github/workflows/autoMilestone.yml
  .storybook/preview-head.html
  pnpm-lock.yaml
  src/components/Checkbox/images/check.svg
  src/components/Checkbox/index.js
  src/components/Checkbox/index.scss
  src/components/RadioButton/images/Ellipse.svg
  src/components/RadioButton/index.js
  src/components/RadioButton/index.scss
  src/home/index.html
  src/stories/Checkbox.stories.js
  src/stories/RadioButton.stories.js
  src/stories/readme/Readme.mdx
  src/styles/colors.scss
  src/styles/fonts.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix: all conflicts erros
  src/components/AvatarButton/index.scss
  src/styles/fonts.scss
Due: prettier --write, stylelint --fix

feat: listen submit pet card event
  src/home/components/PetRegisterPage/index.js
  src/home/index.js
Due: eslint --fix, prettier --write

docs: Comment changes for my component work in hard coded
  src/home/index.js
Due: eslint --fix, prettier --write

receiving an object as a parameter
  src/components/SizeSelector/index.js
  src/home/index.js
Due: eslint --fix, prettier --write

refactoring functions and applying BEM
  src/components/SizeSelector/images/size-large-active.svg
  src/components/SizeSelector/images/size-large.svg
  src/components/SizeSelector/images/size-medium-active.svg
  src/components/SizeSelector/images/size-medium.svg
  src/components/SizeSelector/images/size-small-active.svg
  src/components/SizeSelector/images/size-small.svg
  src/components/SizeSelector/index.js
  src/components/SizeSelector/index.scss
  src/home/index.html
  src/styles/fonts.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix: resolve conversations issues
  src/components/AvatarButton/index.scss
  src/components/Checkbox/index.js
  src/components/Checkbox/index.scss
  src/components/RadioButton/index.js
  src/components/RadioButton/index.scss
  src/stories/RadioButton.stories.js
Due: eslint --fix, prettier --write, stylelint --fix

fix: resolve conversations
  src/components/Checkbox/index.js
  src/components/RadioButton/images/ellipse.svg
  src/components/RadioButton/index.js
  src/components/RadioButton/index.scss
  src/stories/Checkbox.stories.js
Due: eslint --fix, prettier --write, stylelint --fix

fix: change variable name itemSelected from selectedItem
  src/components/Dropdown/components/DropdownItem/index.scss
  src/components/Dropdown/index.js
Due: eslint --fix, prettier --write, stylelint --fix

adding colors
  src/components/SizeSelector/index.scss
  src/styles/colors.scss
Due: prettier --write, stylelint --fix

fix: resolve all conversations issues
  src/components/AvatarButton/index.scss
  src/components/Checkbox/index.js
  src/components/Checkbox/index.scss
  src/components/RadioButton/index.js
  src/components/RadioButton/index.scss
  src/stories/Checkbox.stories.js
  src/stories/RadioButton.stories.js
  src/styles/colors.scss
Due: eslint --fix, prettier --write, stylelint --fix

chore: implements clearValue, setPlaceholder and getPlaceholder
  src/components/Dropdown/index.js
  src/components/Dropdown/index.spec.js
Due: eslint --fix, prettier --write

style: resolve zoldicas callout
  src/components/Checkbox/index.scss
  src/components/RadioButton/index.scss
Due: prettier --write, stylelint --fix

Contunuação do PR = feat: Add RadioButton e Checkbox (#121)
  .eslintrc.json
  .github/workflows/autoAssigned.yml
  .github/workflows/autoMilestone.yml
  .storybook/preview-head.html
  pnpm-lock.yaml
  src/components/AvatarButton/index.scss
  src/components/Checkbox/images/check.svg
  src/components/Checkbox/index.js
  src/components/Checkbox/index.scss
  src/components/RadioButton/images/ellipse.svg
  src/components/RadioButton/index.js
  src/components/RadioButton/index.scss
  src/home/index.html
  src/stories/Checkbox.stories.js
  src/stories/RadioButton.stories.js
  src/stories/readme/Readme.mdx
  src/styles/colors.scss
  src/styles/fonts.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix: mount callback
  src/utils/breakpoints/breakpoints.js
Due: eslint --fix, prettier --write

chore: create toJson method
  src/components/Dropdown/components/DropdownItem/index.js
  src/components/Dropdown/index.js
  src/components/Dropdown/index.scss
  src/components/Dropdown/index.spec.js
Due: eslint --fix, prettier --write, stylelint --fix

fix: fix the toJson method
  src/components/Dropdown/index.js
  src/components/Dropdown/index.spec.js
Due: eslint --fix, prettier --write

create: page general size pet - in progress
  src/home/index.js
  src/home/index.scss
  src/home/pages/generalSize/index.js
  src/home/pages/generalSize/index.scss
  src/styles/colors.scss
  src/styles/fonts.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix: stylelint and eslint prettier rule conflicts
  .eslintrc.json
  package.json
  pnpm-lock.yaml
  �
Due: none

fix swiper target
  src/home/index.js
  src/utils/swiper.js
  �
Due: eslint --fix, prettier --write

fix: mount callback (#186)
  src/utils/breakpoints/breakpoints.js
Due: eslint --fix, prettier --write

fix swiper target (#194)
  src/home/index.js
  src/utils/swiper.js
Due: eslint --fix, prettier --write

refactor: refactor toJSON method
  src/components/Dropdown/components/DropdownItem/index.js
  src/components/Dropdown/index.js
Due: eslint --fix, prettier --write

Dropdown component (#73)
  package.json
  pnpm-lock.yaml
  src/components/Dropdown/components/DropdownItem/index.js
  src/components/Dropdown/components/DropdownItem/index.scss
  src/components/Dropdown/index.js
  src/components/Dropdown/index.scss
  src/components/Dropdown/index.spec.js
  src/stories/Dropdown.stories.js
Due: eslint --fix, prettier --write, stylelint --fix

ajust action trigger
  .github/workflows/build.yml
  .github/workflows/code-style.yml
Due: none

Add build and code-style CI
  .github/actions/install-deps/action.yml
  .github/workflows/build.yml
  .github/workflows/code-style.yml
  .github/workflows/test.yml
Due: none

fix lock file
  pnpm-lock.yaml
Due: none

fix install deps
  .github/actions/install-deps/action.yml
Due: none

change pnpm version in install deps
  .github/actions/install-deps/action.yml
  .github/workflows/code-style.yml
Due: none

lock pnpm version and node version
  .github/actions/install-deps/action.yml
  .npmrc
  package.json
  pnpm-lock.yaml
Due: none

fix listed files
  .github/workflows/code-style.yml
Due: none
