Repository devhatt/pet-dex-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.js": ["eslint --max-warnings=0 --fix ", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"]
}

feat: calendar content done
  src/components/Calendar/components/DayComposer/components/DayButton/index.js
  src/components/Calendar/components/DayComposer/components/DayButton/index.scss
  src/components/Calendar/components/DayComposer/index.js
  src/components/Calendar/components/DayComposer/index.scss
  src/components/Calendar/components/NavigationButton/index.js
  src/components/Calendar/components/NavigationButton/index.scss
  src/components/Calendar/components/WeekDayComposer/components/WeekDay/index.js
  src/components/Calendar/components/WeekDayComposer/components/WeekDay/index.scss
  src/components/Calendar/components/WeekDayComposer/index.js
  src/components/Calendar/components/WeekDayComposer/index.scss
  src/components/Calendar/components/WeekDayComposer/utils/weekDays.js
  src/components/Calendar/index.js
  src/components/Calendar/index.scss
  src/styles/colors.scss
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

feat: implements month selector
  src/components/Calendar/components/CalendarSliding/components/DayComposer/components/DayButton/index.js
  src/components/Calendar/components/CalendarSliding/components/DayComposer/components/DayButton/index.scss
  src/components/Calendar/components/CalendarSliding/components/DayComposer/index.js
  src/components/Calendar/components/CalendarSliding/components/DayComposer/index.scss
  src/components/Calendar/components/CalendarSliding/index.js
  src/components/Calendar/components/CalendarSliding/index.scss
  src/components/Calendar/components/DateSelectorComposer/components/MonthSelector/index.js
  src/components/Calendar/components/DateSelectorComposer/components/MonthSelector/index.scss
  src/components/Calendar/components/DateSelectorComposer/components/SelectorItem/index.js
  src/components/Calendar/components/DateSelectorComposer/components/SelectorItem/index.scss
  src/components/Calendar/components/DateSelectorComposer/components/SelectorModal/components/ModalItem/index.js
  src/components/Calendar/components/DateSelectorComposer/components/SelectorModal/components/ModalItem/index.scss
  src/components/Calendar/components/DateSelectorComposer/components/SelectorModal/index.js
  src/components/Calendar/components/DateSelectorComposer/components/SelectorModal/index.scss
  src/components/Calendar/components/DateSelectorComposer/components/YearSelector/index.js
  src/components/Calendar/components/DateSelectorComposer/components/YearSelector/index.scss
  src/components/Calendar/components/DateSelectorComposer/index.js
  src/components/Calendar/components/DateSelectorComposer/index.scss
  src/components/Calendar/components/DateSelectorComposer/utils/monthArray.js
  src/components/Calendar/components/NavigationButton/index.scss
  src/components/Calendar/index.js
  src/components/Calendar/utils/months.js
  src/stories/Calendar.stories.js
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

feat: add component for change password
  src/components/ChangePassword/index.js
  src/components/ChangePassword/index.scss
  src/stories/ChangePassword.stories.js
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

style: adding styles
  src/components/ChangePassword/index.scss
  src/stories/ChangePassword.stories.js
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

feat: implements date modal
  src/components/Calendar/components/DateSelectorComposer/components/MonthSelector/index.js
  src/components/Calendar/components/DateSelectorComposer/components/SelectorModal/components/ModalItem/index.js
  src/components/Calendar/components/DateSelectorComposer/components/SelectorModal/components/ModalItem/index.scss
  src/components/Calendar/components/DateSelectorComposer/components/SelectorModal/index.js
  src/components/Calendar/components/DateSelectorComposer/components/SelectorModal/index.scss
  src/components/Calendar/components/DateSelectorComposer/index.js
  src/components/Calendar/components/DateSelectorComposer/index.scss
  src/components/Calendar/components/DateSelectorComposer/utils/ModalController.js
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

chore: implements year selector
  src/components/Calendar/components/DateSelectorComposer/components/MonthSelector/index.js
  src/components/Calendar/components/DateSelectorComposer/components/SelectorModal/index.js
  src/components/Calendar/components/DateSelectorComposer/components/SelectorModal/utils/scrollModal.js
  src/components/Calendar/components/DateSelectorComposer/components/YearSelector/index.js
  src/components/Calendar/components/DateSelectorComposer/components/YearSelector/index.scss
  src/components/Calendar/components/DateSelectorComposer/index.js
  src/components/Calendar/components/DateSelectorComposer/index.scss
  src/components/Calendar/components/DateSelectorComposer/utils/ModalController.js
  src/components/Calendar/components/DateSelectorComposer/utils/arraysGenerators.js
  src/components/Calendar/index.js
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

feat: create pet avatar component (#261)
  src/components/PetAvatar/index.js
  src/components/PetAvatar/index.scss
  src/layouts/app/components/SideMenu/index.js
  src/layouts/app/components/SideMenu/index.scss
  src/stories/PetAvatar.stories.js
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

fix: fixing styles
  src/components/ChangePassword/index.js
  src/components/ChangePassword/index.scss
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

style: moving button to bottom
  src/components/ChangePassword/index.scss
Due: prettier --write, stylelint --fix

refactor: import da url e remoção das functions
  src/services/login/loginService.js
  src/services/loginService.js
Due: eslint --max-warnings=0 --fix, prettier --write

refactor: mensagem de erro em inglês e desestruturação do token
  src/services/loginService.js
Due: eslint --max-warnings=0 --fix, prettier --write

refactor: headers removed
  src/services/loginService.js
Due: eslint --max-warnings=0 --fix, prettier --write

feat: login mock-api
  db.json
Due: none

feat: login service
  src/services/login/loginService.js
Due: eslint --max-warnings=0 --fix, prettier --write

refactor: movido login para userService
  src/services/loginService.js
  src/services/userService.js
Due: eslint --max-warnings=0 --fix, prettier --write

refactor: code style
  db.json
Due: none

feat: login service (#284)
  db.json
  src/services/userService.js
Due: eslint --max-warnings=0 --fix, prettier --write

chore: remove sliding
  src/components/Calendar/components/CalendarSliding/index.js
  src/components/Calendar/components/CalendarSliding/index.scss
  src/components/Calendar/components/DateSelectorComposer/components/MonthSelector/index.js
  src/components/Calendar/components/DateSelectorComposer/components/MonthSelector/index.scss
  src/components/Calendar/components/DateSelectorComposer/components/SelectorModal/index.js
  src/components/Calendar/components/DateSelectorComposer/components/SelectorModal/utils/scrollModal.js
  src/components/Calendar/components/DateSelectorComposer/components/YearSelector/index.js
  src/components/Calendar/components/DateSelectorComposer/components/YearSelector/index.scss
  src/components/Calendar/components/DateSelectorComposer/index.js
  src/components/Calendar/components/DateSelectorComposer/index.scss
  src/components/Calendar/components/DateSelectorComposer/utils/ModalController.js
  src/components/Calendar/components/DayComposer/components/DayButton/index.js
  src/components/Calendar/components/DayComposer/components/DayButton/index.scss
  src/components/Calendar/components/DayComposer/index.js
  src/components/Calendar/components/DayComposer/index.scss
  src/components/Calendar/index.js
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

fix: correcting styles
  src/components/ChangePassword/index.scss
Due: prettier --write, stylelint --fix

Issue 245 (#274)
  src/components/ChangePassword/index.js
  src/components/ChangePassword/index.scss
  src/stories/ChangePassword.stories.js
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

feat: base addpet
  src/components/AddPet/assets/akita.svg
  src/components/AddPet/assets/arrow-left.svg
  src/components/AddPet/index.js
  src/components/AddPet/index.scss
  src/layouts/app/index.html
  src/layouts/app/pages/PetRegister/index.js
  src/layouts/app/pages/PetWeight/index.js
  src/stories/AddPet.stories.js
  src/styles/fonts.scss
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

fix: header
  src/components/AddPet/index.js
  src/components/AddPet/index.scss
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

feat: addpet
  package.json
  src/components/AddPet/index.js
  src/layouts/app/pages/PetRegister/index.scss
  src/layouts/app/pages/PetVet/index.js
  src/layouts/app/pages/PetVet/index.scss
  src/layouts/app/pages/PetWeight/index.js
  src/layouts/app/pages/PetWeight/index.scss
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

fix: total of steps being step size
  src/components/AddPet/index.js
Due: eslint --max-warnings=0 --fix, prettier --write

fix: test
  src/layouts/app/pages/PetRegister/index.spec.js
Due: eslint --max-warnings=0 --fix, prettier --write

feat: página de cadastro
  src/layouts/app/pages/SignUp/images/facebook-icon.svg
  src/layouts/app/pages/SignUp/images/google-icon.svg
  src/layouts/app/pages/SignUp/index.js
  src/layouts/app/pages/SignUp/index.scss
  src/stories/SignUpPage.stories.js
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

test: remove only
  src/home/components/PetWeightPage/petWeightPage.spec.js
Due: eslint --max-warnings=0 --fix, prettier --write

fix: pr comments
  src/components/AddPet/index.js
  src/components/AddPet/index.scss
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

feat: add hover in date selector
  src/components/Calendar/components/DateSelectorComposer/components/MonthSelector/index.js
  src/components/Calendar/components/DateSelectorComposer/components/MonthSelector/index.scss
  src/components/Calendar/components/DateSelectorComposer/components/SelectorModal/index.js
  src/components/Calendar/components/DateSelectorComposer/components/SelectorModal/utils/scrollModal.js
  src/components/Calendar/components/DateSelectorComposer/components/YearSelector/index.js
  src/components/Calendar/components/DateSelectorComposer/components/YearSelector/index.scss
  src/components/Calendar/components/DateSelectorComposer/index.js
  src/components/Calendar/components/DateSelectorComposer/utils/ModalController.js
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

fix: cards and margin in petvet
  src/components/AddPet/index.js
  src/layouts/app/pages/PetVet/index.scss
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

refactor: adjusting components to match patterns
  src/components/Button/index.js
  src/components/Dropdown/index.js
  src/components/Dropdown/index.scss
  src/components/RegisterForm/components/Field.js
  src/components/RegisterForm/components/Fields.js
  src/components/RegisterForm/components/index.scss
  src/components/RegisterForm/images/facebook-icon.png
  src/components/RegisterForm/images/facebook-icon.svg
  src/components/RegisterForm/images/google-icon.png
  src/components/RegisterForm/images/google-icon.svg
  src/components/RegisterForm/index.js
  src/components/RegisterForm/index.scss
  src/components/TextInput/index.js
  src/components/TextInput/index.scss
  src/stories/RegisterForm.stories.js
  src/styles/colors.scss
  src/utils/validations.js
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

feat: finish component 2.0
  src/components/SizeSelector/index.scss
  src/stories/SizeSelector.stories.js
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

chore: reduce method handleKeyDown
  src/components/SizeSelector/index.js
  src/stories/SizeSelector.stories.js
Due: eslint --max-warnings=0 --fix, prettier --write

chore: change component for scroll-snap and scrollIntoView
  src/components/SizeSelector/index.js
  src/components/SizeSelector/index.scss
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

feat: create SizeSelector component
  src/components/SizeSelector/images/large.js
  src/components/SizeSelector/images/medium.js
  src/components/SizeSelector/images/small.js
  src/components/SizeSelector/index.js
  src/components/SizeSelector/index.scss
  src/stories/SizeSelector.stories.js
  src/styles/fonts.scss
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

chore: event for 'size:change'
  src/components/SizeSelector/index.js
Due: eslint --max-warnings=0 --fix, prettier --write

chore: change name methods activeCard and remove width and height fixed for padding
  src/components/SizeSelector/index.js
  src/components/SizeSelector/index.scss
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

chore: remove next declaration
  src/components/SizeSelector/index.js
Due: eslint --max-warnings=0 --fix, prettier --write

chore: remove max width card and add min-width card-size
  src/components/SizeSelector/index.scss
Due: prettier --write, stylelint --fix

chore: init virtual scroll
  src/components/Calendar/components/DateSelectorComposer/components/SelectorModal/index.js
  src/components/Calendar/components/DateSelectorComposer/components/SelectorModal/index.scss
  src/components/Calendar/components/DateSelectorComposer/components/YearSelector/index.js
  src/components/Calendar/components/DateSelectorComposer/index.js
  src/components/Calendar/components/DateSelectorComposer/utils/arraysGenerators.js
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix
