Repository devhatt/pet-dex-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.js": ["eslint --fix", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"]
}

feat: create page for pet register breed issue#93 (#111)
  .husky/pre-commit
  .husky/prepare-commit-msg
  package.json
  pnpm-lock.yaml
  src/components/Card/index.js
  src/components/PetCard/index.js
  src/components/PetCard/index.scss
  src/components/TextInput/index.js
  src/home/components/PetRegisterPage/images/afghanHound.svg
  src/home/components/PetRegisterPage/images/akita.svg
  src/home/components/PetRegisterPage/images/beagle.svg
  src/home/components/PetRegisterPage/images/bichonFrise.svg
  src/home/components/PetRegisterPage/images/borderCollie.svg
  src/home/components/PetRegisterPage/images/boxer.svg
  src/home/components/PetRegisterPage/images/chowChow.svg
  src/home/components/PetRegisterPage/images/mixedBreed.svg
  src/home/components/PetRegisterPage/index.js
  src/home/components/PetRegisterPage/index.scss
  src/home/components/PetRegisterPage/index.spec.js
  src/stories/PetCard.stories.js
  src/stories/PetRegisterPage.stories.js
  src/stories/readme/Readme.mdx
Due: eslint --fix, prettier --write, stylelint --fix

chore: add test coverage command
  .github/workflows/test.yml
  .husky/commit-msg
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
  vite.config.js
Due: eslint --fix, prettier --write

style: prettier fixes
  package.json
  src/components/Drawer/index.spec.js
Due: eslint --fix, prettier --write

chore: add coverage to github action
  .github/workflows/test.yml
Due: none

chore: update test coverage to 30 percent
  vite.config.js
Due: eslint --fix, prettier --write

test: add button tests (#212)
  .eslintrc.json
  .github/workflows/test.yml
  .gitignore
  .lintstagedrc.json
  .prettierrc
  jsconfig.json
  package.json
  pnpm-lock.yaml
  setup-test.js
  src/__tests__/index.js
  src/__tests__/setup.js
  src/components/Button/button.spec.js
  src/components/Button/index.js
  src/components/Card/index.js
  src/components/Drawer/index.spec.js
  src/components/Dropdown/index.spec.js
  src/components/TextInput/index.js
  src/home/components/PetRegisterPage/index.spec.js
  src/home/components/PetWeightPage/petWeightPage.spec.js
  src/utils/swiper.spec.js
  vite.config.js
Due: eslint --fix, prettier --write

fix: ajuste na função setcheck do component checkbox
  src/components/Checkbox/index.js
Due: eslint --fix, prettier --write

feat: adiciona radiobutton sem borda
  src/components/RadioButton/index.js
  src/components/RadioButton/index.scss
  src/stories/RadioButton.stories.js
Due: eslint --fix, prettier --write, stylelint --fix

fix: atualiza lista de eventos do checkbox
  src/components/Checkbox/index.js
Due: eslint --fix, prettier --write

fix: ajusta tamanho do radiobutton sem borda
  src/components/RadioButton/index.scss
Due: prettier --write, stylelint --fix

refactor: refactor sliding tests
  src/components/Sliding/index.js
  src/components/Sliding/index.spec.js
Due: eslint --fix, prettier --write

finish service routes
  package.json
  pnpm-lock.yaml
  src/home/index.html
  src/home/index.js
  src/home/index.scss
  src/router/main-router.js
  src/router/routes/cadastro-pet/cadastro-pet.js
  src/router/routes/cadastro-pet/etapas/aniversario.js
  src/router/routes/cadastro-pet/etapas/cadastro.js
  src/router/routes/cadastro-pet/etapas/nome.js
  src/router/routes/cadastro-pet/etapas/peso.js
  src/router/routes/cadastro-pet/etapas/petvet.js
  src/router/routes/cadastro-pet/etapas/raca.js
  src/router/routes/cadastro-pet/etapas/tamanho.js
  src/router/routes/meus-pets/etapas/meuspets.js
  src/router/routes/meus-pets/etapas/petperfil.js
  src/router/routes/meus-pets/meus-pets.js
  src/router/routes/rotas-principais/rotas-principais.js
  src/router/routes/rotas-principais/rotas/configuracoes.js
  src/router/routes/rotas-principais/rotas/conta.js
  src/router/routes/rotas-principais/rotas/doacoes.js
  src/router/routes/rotas-principais/rotas/error.js
  src/router/routes/rotas-principais/rotas/home.js
  src/router/routes/rotas-principais/rotas/pet-dex.js
  vite.config.js
Due: eslint --fix, prettier --write, stylelint --fix

chore: changed pt-br to english
  src/router/main-router.js
  src/router/routes/add-pet/add-pet.js
  src/router/routes/add-pet/steps/birthday.js
  src/router/routes/add-pet/steps/name.js
  src/router/routes/add-pet/steps/petvet.js
  src/router/routes/add-pet/steps/race.js
  src/router/routes/add-pet/steps/register.js
  src/router/routes/add-pet/steps/size.js
  src/router/routes/add-pet/steps/weight.js
  src/router/routes/cadastro-pet/cadastro-pet.js
  src/router/routes/main-routes/main-routes.js
  src/router/routes/main-routes/routes/account.js
  src/router/routes/main-routes/routes/donates.js
  src/router/routes/main-routes/routes/error.js
  src/router/routes/main-routes/routes/home.js
  src/router/routes/main-routes/routes/pet-dex.js
  src/router/routes/main-routes/routes/settings.js
  src/router/routes/meus-pets/meus-pets.js
  src/router/routes/my-pets/my-pets.js
  src/router/routes/my-pets/steps/pet-profile.js
  src/router/routes/my-pets/steps/pets.js
  src/router/routes/rotas-principais/rotas-principais.js
Due: eslint --fix, prettier --write

Issue 227 (#247)
  src/components/Checkbox/index.js
  src/components/RadioButton/index.js
  src/components/RadioButton/index.scss
  src/stories/RadioButton.stories.js
Due: eslint --fix, prettier --write, stylelint --fix

test: adjusted the sliding tests
  src/components/Sliding/index.spec.js
Due: eslint --fix, prettier --write

test: adiciona testes da página de peso do pet
  src/home/components/PetWeightPage/petWeightPage.spec.js
Due: eslint --fix, prettier --write

fix: modified rgb style color to original fonts
  src/home/components/PetRegister/index.js
  src/home/components/PetRegister/index.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: image and name getValue emission
  src/components/Button/index.js
  src/components/TextInput/index.js
  src/components/UploadImage/index.js
  src/home/components/PetRegister/index.js
Due: eslint --fix, prettier --write

fix: changes required
  src/components/TextInput/index.js
  src/components/UploadImage/index.js
  src/home/components/PetRegister/index.js
Due: eslint --fix, prettier --write

feat: storybook created
  src/home/components/PetRegister/index.js
  src/stories/PetRegister.stories.js
Due: eslint --fix, prettier --write

style: add eof package.json
  package.json
Due: none

test: sliding tests fixed
  src/components/Sliding/index.spec.js
Due: eslint --fix, prettier --write

chore: ajust engines to condize with npmrc (#222)
  package.json
Due: none

test: adjust sliding unmount test
  src/components/Sliding/index.js
  src/components/Sliding/index.spec.js
Due: eslint --fix, prettier --write

chore: add routes props in links sidemenu
  src/home/components/SideMenu/index.js
Due: eslint --fix, prettier --write

feat: create frontend mock api
  db.json
Due: none

chore: remove this.slides and add activeSlide method
  src/components/Sliding/index.js
  src/components/Sliding/index.scss
  src/components/Sliding/index.spec.js
  src/stories/Sliding.stories.js
Due: eslint --fix, prettier --write, stylelint --fix

fix: create swipeLet and swipeRight methods
  src/components/Sliding/index.js
Due: eslint --fix, prettier --write

fix: error build
  src/index.html
  vite.config.js
Due: eslint --fix, prettier --write

fix: fix stylelint
  src/home/index.html
  src/index.html
  vite.config.js
Due: eslint --fix, prettier --write

Serviço de Rotas (#207)
  package.json
  pnpm-lock.yaml
  src/home/components/SideMenu/index.js
  src/home/index.html
  src/home/index.js
  src/home/index.scss
  src/index.html
  src/router/main-router.js
  src/router/routes/add-pet/add-pet.js
  src/router/routes/add-pet/steps/birthday.js
  src/router/routes/add-pet/steps/name.js
  src/router/routes/add-pet/steps/petvet.js
  src/router/routes/add-pet/steps/race.js
  src/router/routes/add-pet/steps/register.js
  src/router/routes/add-pet/steps/size.js
  src/router/routes/add-pet/steps/weight.js
  src/router/routes/main-routes/main-routes.js
  src/router/routes/main-routes/routes/account.js
  src/router/routes/main-routes/routes/donates.js
  src/router/routes/main-routes/routes/error.js
  src/router/routes/main-routes/routes/home.js
  src/router/routes/main-routes/routes/pet-dex.js
  src/router/routes/main-routes/routes/settings.js
  src/router/routes/my-pets/my-pets.js
  src/router/routes/my-pets/steps/pet-profile.js
  src/router/routes/my-pets/steps/pets.js
  vite.config.js
Due: eslint --fix, prettier --write, stylelint --fix

fix: x
  src/components/TextInput/index.scss
  src/home/components/PetRegister/index.js
  src/home/components/PetRegister/index.scss
  src/stories/PetRegister.stories.js
Due: eslint --fix, prettier --write, stylelint --fix

Sliding Component (#209)
  src/components/Sliding/index.js
  src/components/Sliding/index.scss
  src/components/Sliding/index.spec.js
  src/stories/Sliding.stories.js
Due: eslint --fix, prettier --write, stylelint --fix

feat: add login form
  src/components/LoginForm/images/eye-slash.svg
  src/components/LoginForm/images/facebook-icon.svg
  src/components/LoginForm/images/google-icon.svg
  src/components/LoginForm/images/paw-form-icon.svg
  src/components/LoginForm/index.js
  src/components/LoginForm/index.scss
  src/stories/LoginForm.stories.js
Due: eslint --fix, prettier --write, stylelint --fix

style: adding EOF that was missing
  db.json
Due: none

style: adjusting EOF
  db.json
Due: none

refactor: renamed variables and functions to enhance readability and maintainability
  src/components/LoginForm/index.js
Due: eslint --fix, prettier --write

refactor: change p tag to span for less robust text
  src/components/LoginForm/index.js
  src/components/LoginForm/index.scss
Due: eslint --fix, prettier --write, stylelint --fix

refactor: resolve issue with position:absolute and background color dependencies in login component
  src/components/LoginForm/index.js
  src/components/LoginForm/index.scss
Due: eslint --fix, prettier --write, stylelint --fix

refactor: keep style import as last import
  src/components/LoginForm/index.js
Due: eslint --fix, prettier --write
