Repository devhatt/pet-dex-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.js": ["eslint --fix", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"]
}

Issue 37 - Adiciona favicons a home e configura o VitePWA no vit.config.js
  src/home/index.html
  src/public/favicon/android-icon-192x192.ico
  src/public/favicon/apple-touch-icon-114x114.ico
  src/public/favicon/apple-touch-icon-120x120.ico
  src/public/favicon/apple-touch-icon-144x144.ico
  src/public/favicon/apple-touch-icon-152x152.ico
  src/public/favicon/apple-touch-icon-180x180.ico
  src/public/favicon/apple-touch-icon-57x57.ico
  src/public/favicon/apple-touch-icon-60x60.ico
  src/public/favicon/apple-touch-icon-72x72.ico
  src/public/favicon/apple-touch-icon-76x76.ico
  src/public/favicon/apple-touch-icon-96x96.ico
  src/public/favicon/favicon-16x16.ico
  src/public/favicon/favicon-32x32.ico
  vite.config.js
Due: eslint --fix, prettier --write

feat: petCard component issue#20 (#33)
  src/components/PetCard/index.js
  src/components/PetCard/index.scss
  src/components/TextInput/index.scss
  src/home/main.js
  src/styles/base.scss
  src/styles/var.scss
Due: eslint --fix, prettier --write, stylelint --fix

create breakpoints.scss
  src/styles/breakpoints.scss
Due: prettier --write, stylelint --fix

feat: add readme
  src/stories/Button.stories.js
  src/stories/readme/Example-1.png
  src/stories/readme/Example-2.png
  src/stories/readme/Example-2.stories.js
  src/stories/readme/Example.js
  src/stories/readme/Example.stories.js
  src/stories/readme/Readme.mdx
Due: eslint --fix, prettier --write

Update prepare-commit-msg
  .husky/prepare-commit-msg
Due: none

slider do pet-dex
  src/components/slider/img/size-large.svg
  src/components/slider/img/size-medium.svg
  src/components/slider/img/size-small.svg
  src/components/slider/index.js
  src/components/slider/index.scss
  src/home/index.js
Due: eslint --fix, prettier --write, stylelint --fix

feat: add storybook to visualizate components (#62)
  .eslintrc.json
  .storybook/main.js
  .storybook/preview-head.html
  .storybook/preview.js
  package.json
  pnpm-lock.yaml
  src/stories/Button.stories.js
  src/stories/readme/Example-1.png
  src/stories/readme/Example-2.png
  src/stories/readme/Example-2.stories.js
  src/stories/readme/Example.js
  src/stories/readme/Example.stories.js
  src/stories/readme/Readme.mdx
Due: eslint --fix, prettier --write

Criação de arquivo breakpoints para adaptação da aplicação em diferentes telas (#74)
  .husky/prepare-commit-msg
  src/styles/breakpoints.scss
Due: prettier --write, stylelint --fix

Adiciona favicons à Home e configura o VitePWA no arquivo `vite.config.js` com o manifesto (#72)
  src/home/index.html
  src/public/favicon/android-icon-192x192.ico
  src/public/favicon/apple-touch-icon-114x114.ico
  src/public/favicon/apple-touch-icon-120x120.ico
  src/public/favicon/apple-touch-icon-144x144.ico
  src/public/favicon/apple-touch-icon-152x152.ico
  src/public/favicon/apple-touch-icon-180x180.ico
  src/public/favicon/apple-touch-icon-57x57.ico
  src/public/favicon/apple-touch-icon-60x60.ico
  src/public/favicon/apple-touch-icon-72x72.ico
  src/public/favicon/apple-touch-icon-76x76.ico
  src/public/favicon/apple-touch-icon-96x96.ico
  src/public/favicon/favicon-16x16.ico
  src/public/favicon/favicon-32x32.ico
  vite.config.js
Due: eslint --fix, prettier --write

fix: fix missing lib and file name cases
  .prettierrc
  package.json
  pnpm-lock.yaml
  src/components/Button/index.js
  src/components/Button/index.scss
  src/home/components/Navigation/images/avatar.svg
  src/home/components/Navigation/images/bell.svg
  src/home/components/Navigation/images/exit.svg
  src/home/components/Navigation/images/menu.svg
  src/home/components/Navigation/index.js
  src/home/components/Navigation/index.scss
  src/home/components/NoPetRegirestedPage/index.js
  src/stories/Button.stories.js
  vite.config.js
Due: eslint --fix, prettier --write, stylelint --fix

fix: fix missing lib and file name cases (#82)
  .prettierrc
  package.json
  pnpm-lock.yaml
  src/components/Button/index.js
  src/components/Button/index.scss
  src/home/components/Navigation/images/avatar.svg
  src/home/components/Navigation/images/bell.svg
  src/home/components/Navigation/images/exit.svg
  src/home/components/Navigation/images/menu.svg
  src/home/components/Navigation/index.js
  src/home/components/Navigation/index.scss
  src/home/components/NoPetRegirestedPage/index.js
  src/stories/Button.stories.js
  vite.config.js
Due: eslint --fix, prettier --write, stylelint --fix

Feat: Add ProgressBar component with styles
  src/components/ProgressBar/index.js
  src/components/ProgressBar/index.scss
  src/styles/base.scss
Due: eslint --fix, prettier --write, stylelint --fix

refactor: ProgressBar test typos fix
  src/components/ProgressBar/index.spec.js
Due: eslint --fix, prettier --write

style: style: Ajustes do lint
  src/components/ProgressBar/index.scss
Due: prettier --write, stylelint --fix

Refactor: Update ProgressBar styles to use colors from colors.scss
  src/components/ProgressBar/index.scss
  src/styles/base.scss
  src/styles/colors.scss
Due: prettier --write, stylelint --fix

Refactor: ProgressBar component
  src/components/ProgressBar/index.js
  src/components/ProgressBar/index.scss
  src/components/ProgressBar/index.spec.js
Due: eslint --fix, prettier --write, stylelint --fix

refactor: Refactor: Update colors to rgb and remove unnecessary variable
  src/components/ProgressBar/index.scss
  src/styles/colors.scss
Due: prettier --write, stylelint --fix

Refactor: eof
  src/styles/base.scss
Due: prettier --write, stylelint --fix

Fix: Refactor ProgressBar initialization logic
  src/components/ProgressBar/index.js
Due: eslint --fix, prettier --write

test: Create ProgressBar unit tests
  src/components/ProgressBar/index.scss
  src/components/ProgressBar/index.spec.js
Due: eslint --fix, prettier --write, stylelint --fix

Update src/styles/base.scss
  src/styles/base.scss
Due: prettier --write, stylelint --fix

feat: button update and deactivation and activation functionality
  .eslintrc.json
  .gitignore
  package-lock.json
  src/components/Button/index.js
  src/components/Button/index.scss
  src/home/components/NoPetRegirestedPage/index.js
Due: eslint --fix, prettier --write, stylelint --fix

feat: add disabled button in storybook
  src/components/Button/index.js
  src/components/Button/index.scss
  src/stories/Button.stories.js
Due: eslint --fix, prettier --write, stylelint --fix

docs: fix button class order
  .gitignore
  src/components/Button/index.scss
Due: prettier --write, stylelint --fix

Feat: Progress bar Issue#22 (#53)
  src/components/ProgressBar/index.js
  src/components/ProgressBar/index.scss
  src/components/ProgressBar/index.spec.js
  src/styles/base.scss
  src/styles/colors.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: input dinamic range slider
  src/components/RangeSlider/index.js
  src/components/RangeSlider/index.scss
  src/home/components/NoPetRegirestedPage/index.js
  src/home/images/ruler-slider.svg
  src/stories/RangeSlider.stories.js
Due: eslint --fix, prettier --write, stylelint --fix

fix: reverting changes on nopetregisredpage, this page should not be modified
  src/components/RangeSlider/index.js
  src/home/components/NoPetRegirestedPage/index.js
Due: eslint --fix, prettier --write

refactor: add breakpoint and scss vars in style file
  src/components/RangeSlider/index.scss
  src/styles/colors.scss
Due: prettier --write, stylelint --fix

refactor: change html to span for semantic reasons and added a unit variable on component build
  src/components/RangeSlider/index.js
  src/components/RangeSlider/index.scss
  src/stories/RangeSlider.stories.js
Due: eslint --fix, prettier --write, stylelint --fix

style: hide unit span on mobile devices
  src/components/RangeSlider/index.js
  src/components/RangeSlider/index.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: breakpoints js and scss media variables exported
  src/styles/breakpoints.module.scss
  src/utils/breakpoints.js
Due: eslint --fix, prettier --write, stylelint --fix

refactor: add getters and setters for RangeSlider values. change component storybook to follow pattern
  src/components/RangeSlider/index.js
  src/stories/RangeSlider.stories.js
  src/styles/var.scss
Due: eslint --fix, prettier --write, stylelint --fix

refactor: change variable name for better reading and understanding
  src/components/RangeSlider/index.js
  src/stories/RangeSlider.stories.js
Due: eslint --fix, prettier --write

refactor: add options to storybook and unmount to remove event listeners
  src/components/RangeSlider/index.js
  src/stories/RangeSlider.stories.js
Due: eslint --fix, prettier --write

refactor: sepated handlemove into handlemouse and handletouch move
  src/components/RangeSlider/index.js
Due: eslint --fix, prettier --write

feat: Componentes Radio Button e Checkbox
  src/components/Checkbox/check.svg
  src/components/Checkbox/index.js
  src/components/Checkbox/index.scss
  src/components/RadioButton/images/Ellipse.svg
  src/components/RadioButton/index.js
  src/components/RadioButton/index.scss
  src/home/index.html
  src/stories/Checkbox.stories.js
  src/stories/RadioButton.stories.js
Due: eslint --fix, prettier --write, stylelint --fix

feat: add listener do key 'esc', when pressed the value resets
  src/components/RangeSlider/index.js
Due: eslint --fix, prettier --write

feat: input dinamic range slider (#88)
  src/components/RangeSlider/index.js
  src/components/RangeSlider/index.scss
  src/home/images/ruler-slider.svg
  src/stories/RangeSlider.stories.js
  src/styles/colors.scss
  src/styles/var.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: remove linebreak-style
  .eslintrc.json
Due: none

feat: Add Filter component and its styles and unit test
  src/components/Filter/index.js
  src/components/Filter/index.scss
  src/components/Filter/index.spec.js
Due: eslint --fix, prettier --write, stylelint --fix
