Repository devhatt/pet-dex-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.js": ["eslint --max-warnings=0 --fix ", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"]
}

refactor: isolate breakpoint
  src/components/LoginForm/index.scss
Due: prettier --write, stylelint --fix

style: adjusting prettier error
  db.json
Due: none

Issue-236 - Creation of mock API for the frontend (#254)
  db.json
Due: none

style: modified rgb style to color fonts and spacing adjustment
  src/components/TextInput/index.scss
  src/home/components/PetRegister/index.js
  src/home/components/PetRegister/index.scss
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

fix: removed margin from top of page
  src/home/components/PetRegister/index.scss
Due: prettier --write, stylelint --fix

refactor: fix the use of spacing and relative positions
  src/components/LoginForm/index.js
  src/components/LoginForm/index.scss
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

refactor: improve visibility of the text in the input when there is an error
  src/components/LoginForm/index.scss
Due: prettier --write, stylelint --fix

refactor: add class to control error display
  src/components/LoginForm/index.js
  src/components/LoginForm/index.scss
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

feat: desktop css and html petdex componente page
  .husky/prepare-commit-msg
  src/home/components/PetvetPage/images/cuidadosEspeciais.svg
  src/home/components/PetvetPage/images/estetoscopio.svg
  src/home/components/PetvetPage/images/vacina.svg
  src/home/components/PetvetPage/index.js
  src/home/components/PetvetPage/index.scss
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

fix: button and content
  src/home/components/PetvetPage/index.js
  src/home/components/PetvetPage/index.scss
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

fix: emit
  src/home/components/PetvetPage/index.js
  src/home/components/PetvetPage/index.scss
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

fix: html and css finished
  src/home/components/PetvetPage/index.js
  src/home/components/PetvetPage/index.scss
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

fix: index js
  src/home/index.js
Due: eslint --max-warnings=0 --fix, prettier --write

fix: remove import petvet
  src/home/index.js
Due: eslint --max-warnings=0 --fix, prettier --write

fix: base desktop
  src/home/components/PetvetPage/images/cuidadosEspeciais.svg
  src/home/components/PetvetPage/images/estetoscopio.svg
  src/home/components/PetvetPage/images/vacina.svg
  src/home/components/PetvetPage/index.scss
  src/styles/colors.scss
Due: prettier --write, stylelint --fix

fix: styles of petvet
  src/home/components/PetvetPage/index.scss
  src/styles/colors.scss
Due: prettier --write, stylelint --fix

feat: component storybook
  src/stories/PetVetPage.stories.js
Due: eslint --max-warnings=0 --fix, prettier --write

fix: heieght to container in storybook
  src/stories/PetVetPage.stories.js
Due: eslint --max-warnings=0 --fix, prettier --write

fix: stories, nomenclature and indentation
  src/home/components/PetVetPage/index.js
  src/stories/PetVetPage.stories.js
Due: eslint --max-warnings=0 --fix, prettier --write

fix: add semicolon
  src/home/components/PetvetPage/index.js
Due: eslint --max-warnings=0 --fix, prettier --write

fix: font name
  src/home/components/PetVetPage/index.scss
  src/styles/fonts.scss
Due: prettier --write, stylelint --fix

fix: petvetpage and vacine improvments
  src/components/Vaccine/index.js
  src/components/Vaccine/index.scss
  src/home/components/PetvetPage/index.js
  src/home/components/PetvetPage/index.scss
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

fix: send events
  src/home/components/PetvetPage/index.js
Due: eslint --max-warnings=0 --fix, prettier --write

fix: fonts
  src/home/components/PetvetPage/index.scss
  src/styles/fonts.scss
Due: prettier --write, stylelint --fix

fix: directory name
  src/home/components/PetVetPage/images/cuidadosEspeciais.svg
  src/home/components/PetVetPage/images/estetoscopio.svg
  src/home/components/PetVetPage/index.js
  src/home/components/PetVetPage/index.scss
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

feat: radio groups and new format
  src/home/components/PetVetPage/index.js
Due: eslint --max-warnings=0 --fix, prettier --write

fix: box shadow vaccine
  src/components/Vaccine/index.scss
Due: prettier --write, stylelint --fix

feat: list vaccines
  src/components/Vaccine/index.js
  src/components/VaccineGroup/index.js
  src/home/components/PetVetPage/index.js
Due: eslint --max-warnings=0 --fix, prettier --write

feat: add radios
  src/home/components/PetvetPage/index.js
Due: eslint --max-warnings=0 --fix, prettier --write

fix: page and component scroll
  src/components/Vaccine/index.scss
  src/home/components/PetVetPage/index.scss
  src/home/index.scss
Due: prettier --write, stylelint --fix

fix: petvetpage footer
  src/home/components/PetVetPage/index.js
  src/home/components/PetVetPage/index.scss
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

fix: better reading stories
  src/stories/PetVetPage.stories.js
Due: eslint --max-warnings=0 --fix, prettier --write

fix: stories home behavior
  src/stories/PetVetPage.stories.js
Due: eslint --max-warnings=0 --fix, prettier --write

fix: margin in footer
  src/home/components/PetVetPage/index.scss
Due: prettier --write, stylelint --fix

feat: petvet page - cadastro de pet etapa 8 (#114)
  .husky/prepare-commit-msg
  src/components/Vaccine/index.js
  src/components/Vaccine/index.scss
  src/components/VaccineGroup/index.js
  src/home/components/PetVetPage/images/cuidadosEspeciais.svg
  src/home/components/PetVetPage/images/estetoscopio.svg
  src/home/components/PetVetPage/index.js
  src/home/components/PetVetPage/index.scss
  src/home/index.js
  src/home/index.scss
  src/stories/PetVetPage.stories.js
  src/styles/fonts.scss
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

refactor: remove line-height with unity
  src/components/LoginForm/index.scss
Due: prettier --write, stylelint --fix

fix: inputText classList removed
  src/home/components/PetRegister/index.js
Due: eslint --max-warnings=0 --fix, prettier --write

fix: modified rgb style color to original fonts (#190)
  src/components/Button/index.js
  src/components/TextInput/index.js
  src/components/TextInput/index.scss
  src/components/UploadImage/index.js
  src/home/components/PetRegister/index.js
  src/home/components/PetRegister/index.scss
  src/stories/PetRegister.stories.js
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

refactor: improve error message display for form inputs
  src/components/LoginForm/index.js
  src/components/LoginForm/index.scss
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

refactor: remove early return
  src/components/LoginForm/index.js
Due: eslint --max-warnings=0 --fix, prettier --write
