Repository devhatt/pet-dex-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

feat: drawer component
  src/components/Drawer/images/close.svg
  src/components/Drawer/index.js
  src/components/Drawer/index.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix: prettier
  .prettierrc
  src/home/index.html
Due: none

fix: color name change
  src/components/Drawer/index.scss
Due: prettier --write, stylelint --fix

feat: transition drawer
  src/components/Drawer/index.js
  src/components/Drawer/index.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix: revert changes on prettierrc
  .prettierrc
Due: none

fix: content will have scroll bar if necessary
  src/components/Drawer/index.scss
Due: prettier --write, stylelint --fix

chore: commitlint/cz-commitlint
  package.json
  pnpm-lock.yaml
Due: none

feat: drawer component (#191)
  pnpm-lock.yaml
  src/components/Drawer/images/close.svg
  src/components/Drawer/images/line.svg
  src/components/Drawer/index.js
  src/components/Drawer/index.scss
  src/home/index.html
  src/stories/Drawer.stories.js
  src/utils/swiper.js
Due: eslint --fix, prettier --write, stylelint --fix

feat: base component of vaccine
  src/components/Vaccine/img/vaccine.svg
  src/components/Vaccine/index.js
  src/components/Vaccine/index.scss
  src/home/index.js
Due: eslint --fix, prettier --write, stylelint --fix

feat: font helvetica
  src/home/index.html
  src/public/helvetica.woff
  src/styles/fonts.scss
Due: prettier --write, stylelint --fix

fix: pr changes - early return, border rem to px and format date function
  src/components/Vaccine/index.js
  src/components/Vaccine/index.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix: pr changes
  src/components/Vaccine/images/calendar.svg
  src/components/Vaccine/images/plus.svg
  src/components/Vaccine/images/vaccine.svg
  src/components/Vaccine/index.js
  src/components/Vaccine/index.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: storybook and div fix
  src/components/Vaccine/index.js
  src/stories/Vaccine.stories.js
Due: eslint --fix, prettier --write

feat: component abstraction
  src/components/Vaccine/index.js
  src/components/Vaccine/index.scss
  src/components/VaccineGroup/index.js
  src/components/VaccineGroup/index.scss
  src/components/VaccineItem/images/calendar.svg
  src/components/VaccineItem/index.js
  src/components/VaccineItem/index.scss
  src/stories/Vaccine.stories.js
Due: eslint --fix, prettier --write, stylelint --fix

fix: right index home
  src/home/index.js
Due: eslint --fix, prettier --write

fix: add borders and scroll
  src/components/Vaccine/index.js
  src/components/Vaccine/index.scss
  src/components/VaccineGroup/index.scss
  src/components/VaccineItem/index.js
  src/components/VaccineItem/index.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix: remove espace index home
  src/home/index.js
Due: eslint --fix, prettier --write

Contunuação do PR = feat: Add RadioButton e Checkbox (#121)
  pnpm-lock.yaml
Due: none

feat: vaccine list
  src/components/Vaccine/index.js
  src/components/Vaccine/index.scss
  src/home/index.js
Due: eslint --fix, prettier --write, stylelint --fix

fix: componente visual
  src/components/Vaccine/index.scss
Due: prettier --write, stylelint --fix

fix: scroll
  src/components/Vaccine/index.scss
Due: prettier --write, stylelint --fix

fix: pr improvements
  package.json
  pnpm-lock.yaml
  src/components/Vaccine/index.js
  src/components/Vaccine/index.scss
  src/components/VaccineGroup/index.js
  src/components/VaccineGroup/index.scss
  src/components/VaccineItem/index.js
  src/components/VaccineItem/index.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix: update pnpm lock
  pnpm-lock.yaml
Due: none

fix: color name
  src/components/Vaccine/index.scss
  src/components/VaccineItem/index.scss
Due: prettier --write, stylelint --fix

fix: index html
  src/home/index.html
Due: none

fix: stylelint font
  src/styles/fonts.scss
Due: prettier --write, stylelint --fix

fix: pr changes
  src/components/Vaccine/index.js
  src/components/Vaccine/index.scss
  src/components/VaccineGroup/index.js
  src/components/VaccineItem/index.js
  src/components/VaccineItem/index.scss
  src/stories/Vaccine.stories.js
  src/styles/base.scss
  src/styles/font-face.scss
  src/styles/fonts.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix: dividerr
  src/components/VaccineItem/index.scss
Due: prettier --write, stylelint --fix

fix: vaccinegroup indentation
  src/components/VaccineGroup/index.js
Due: eslint --fix, prettier --write

fix: vaccineitem corrrect events name and id
  src/components/VaccineItem/index.js
Due: eslint --fix, prettier --write

fix: fonts and addvacine container name
  helvetica/Helvetica.woff
  src/components/Vaccine/index.js
  src/public/helvetica/Helvetica.eot
  src/public/helvetica/Helvetica.otf
  src/public/helvetica/Helvetica.svg
  src/public/helvetica/Helvetica.ttf
  src/public/helvetica/Helvetica.woff
  src/public/helvetica/Helvetica.woff2
  src/styles/base.scss
  src/styles/font-face.scss
  src/styles/typography.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix: return textcontent
  src/components/VaccineGroup/index.js
  src/components/VaccineItem/index.js
Due: eslint --fix, prettier --write

fix: stylelint
  src/components/VaccineItem/index.scss
Due: prettier --write, stylelint --fix

fix: code-style
  package.json
  pnpm-lock.yaml
Due: none

fix: nomenclaturet improvements
  helvetica/Helvetica.woff
  src/components/Vaccine/index.js
  src/components/Vaccine/index.scss
  src/components/VaccineGroup/index.js
  src/components/VaccineItem/index.js
  src/components/VaccineItem/index.scss
  src/stories/Vaccine.stories.js
Due: eslint --fix, prettier --write, stylelint --fix

fix:stylelint
  src/components/VaccineItem/index.scss
Due: prettier --write, stylelint --fix

feat: pnpm lock
  pnpm-lock.yaml
Due: none

fix: removing test comment
  src/home/index.js
Due: eslint --fix, prettier --write

Issue 109 - Componente de vacina (#125)
  package.json
  pnpm-lock.yaml
  src/components/Vaccine/images/plus.svg
  src/components/Vaccine/images/vaccine.svg
  src/components/Vaccine/index.js
  src/components/Vaccine/index.scss
  src/components/VaccineGroup/index.js
  src/components/VaccineGroup/index.scss
  src/components/VaccineItem/images/calendar.svg
  src/components/VaccineItem/index.js
  src/components/VaccineItem/index.scss
  src/public/helvetica/Helvetica.eot
  src/public/helvetica/Helvetica.otf
  src/public/helvetica/Helvetica.svg
  src/public/helvetica/Helvetica.ttf
  src/public/helvetica/Helvetica.woff
  src/public/helvetica/Helvetica.woff2
  src/stories/Vaccine.stories.js
  src/styles/base.scss
  src/styles/fonts.scss
  src/styles/typography.scss
Due: eslint --fix, prettier --write, stylelint --fix

chore: init refactor sliding component
  src/components/Sliding/index.js
  src/components/Sliding/index.scss
  src/stories/Sliding.stories.js
Due: eslint --fix, prettier --write, stylelint --fix

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: (any of: *.js) or (any of: *.scss)
  stylelint --fix: any of: *.scss
