Repository devhatt/pet-dex-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.js": ["eslint --fix", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"]
}

remove: test ci
  .github/workflows/test.yml
Due: none

ajust codestyle and fix prettier files
  .github/workflows/build.yml
  .github/workflows/code-style.yml
  src/components/Checkbox/index.js
  src/components/Dropdown/index.js
  src/components/Dropdown/index.spec.js
  src/components/ProgressBar/index.js
  src/components/RadioButton/index.js
  src/components/RangeSlider/index.js
  src/components/Tabber/index.js
Due: eslint --fix, prettier --write

eof insert in .npmrc
  .github/workflows/build.yml
  .npmrc
Due: none

change: rgb to rgba
  src/styles/colors.scss
Due: prettier --write, stylelint --fix

fix: colors file
  src/styles/colors.scss
Due: prettier --write, stylelint --fix

add: colors file
  src/styles/colors.scss
Due: prettier --write, stylelint --fix

change rgba to rgb and add spaces
  src/styles/colors.scss
Due: prettier --write, stylelint --fix

Criação do arquivo de cores (#195)
  src/styles/colors.scss
Due: prettier --write, stylelint --fix

Add build and code-style CI (#198)
  .github/actions/install-deps/action.yml
  .github/workflows/build.yml
  .github/workflows/code-style.yml
  .npmrc
  package.json
  pnpm-lock.yaml
  src/components/Checkbox/index.js
  src/components/Dropdown/index.js
  src/components/Dropdown/index.spec.js
  src/components/ProgressBar/index.js
  src/components/RadioButton/index.js
  src/components/RangeSlider/index.js
  src/components/Tabber/index.js
Due: eslint --fix, prettier --write

fix: adjusting input text position and padding
  pnpm-lock.yaml
  src/components/TextInput/index.js
  src/components/TextInput/index.scss
  src/home/index.js
  src/home/main.js
Due: eslint --fix, prettier --write, stylelint --fix

fix: changing homepage view back to default
  src/home/index.js
Due: eslint --fix, prettier --write

feat: creating text input component
  src/components/TextInput/index.scss
  src/stories/TextInput.stories.js
Due: eslint --fix, prettier --write, stylelint --fix

fix: adjusting input text colors to match with colors archive
  src/components/TextInput/index.scss
Due: prettier --write, stylelint --fix

fix: colors reference
  src/components/AvatarButton/index.scss
  src/components/Button/index.scss
  src/components/Checkbox/index.scss
  src/components/Dropdown/components/DropdownItem/index.scss
  src/components/ProgressBar/index.scss
  src/components/RadioButton/index.scss
  src/components/RangeSlider/index.scss
  src/components/Tabber/index.scss
  src/components/Toggle/index.scss
  src/home/components/SideMenu/index.scss
  src/home/index.scss
  src/styles/colors.scss
Due: prettier --write, stylelint --fix

fix: colors reference (#201)
  src/components/AvatarButton/index.scss
  src/components/Button/index.scss
  src/components/Checkbox/index.scss
  src/components/Dropdown/components/DropdownItem/index.scss
  src/components/ProgressBar/index.scss
  src/components/RadioButton/index.scss
  src/components/RangeSlider/index.scss
  src/components/Tabber/index.scss
  src/components/Toggle/index.scss
  src/home/components/SideMenu/index.scss
  src/home/index.scss
  src/styles/colors.scss
Due: prettier --write, stylelint --fix

calendar component
  package.json
  pnpm-lock.yaml
  src/components/Calendar/components/DateButton/index.js
  src/components/Calendar/components/DateButton/index.scss
  src/components/Calendar/components/DateSelector/index.js
  src/components/Calendar/components/DateSelector/index.scss
  src/components/Calendar/components/Day/index.js
  src/components/Calendar/components/Day/index.scss
  src/components/Calendar/components/Days/index.js
  src/components/Calendar/components/NavButton/index.js
  src/components/Calendar/components/NavButton/index.scss
  src/components/Calendar/images/arrows.svg
  src/components/Calendar/images/navButton.svg
  src/components/Calendar/index.js
  src/components/Calendar/index.scss
  src/stories/Calendar.stories.js
Due: eslint --fix, prettier --write, stylelint --fix

removido o metodo setYear de dateButton
  src/components/Calendar/components/DateButton/index.js
Due: eslint --fix, prettier --write

fix: adjusting text input padding and position
  src/components/TextInput/index.js
Due: eslint --fix, prettier --write

fix: changing colors style to match with reference archive
  src/components/TextInput/index.scss
Due: prettier --write, stylelint --fix

feat: create text input storie
  src/stories/TextInput.stories.js
Due: eslint --fix, prettier --write

fix: adjusting padding and font to match with the reviews
  src/components/TextInput/index.scss
Due: prettier --write, stylelint --fix

fix: adding the correct color to the input text
  src/components/TextInput/index.scss
Due: prettier --write, stylelint --fix

feat: sliding component create
  src/components/Sliding/index.js
  src/components/Sliding/index.scss
  src/components/Sliding/index.spec.js
  src/stories/Sliding.stories.js
Due: eslint --fix, prettier --write, stylelint --fix

fix: rename parameter in add and remove functions
  src/components/Sliding/index.js
  src/components/Sliding/index.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix: adjusting prefix and suffix common props
  src/components/TextInput/index.scss
  src/home/index.js
Due: eslint --fix, prettier --write, stylelint --fix

feat: code-style
  .github/workflows/code-style.yml
Due: none

feat: code-style (#213)
  .github/workflows/code-style.yml
Due: none

fix: minor changes
  package.json
  pnpm-lock.yaml
Due: none

refactor: rip lil-x and lil-line, refactor improve code length
  src/components/Drawer/index.js
  src/components/Drawer/index.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix: color drawer__title
  src/components/Drawer/index.scss
Due: prettier --write, stylelint --fix

fix: transition logic
  src/components/Drawer/index.js
Due: eslint --fix, prettier --write

refactor: now emits change events
  src/components/Drawer/index.js
  src/stories/Drawer.stories.js
Due: eslint --fix, prettier --write

fix: if the screen is bigger than drawer component
  src/components/Drawer/index.scss
Due: prettier --write, stylelint --fix

fix: make compatible with new design
  src/components/Drawer/index.js
  src/components/Drawer/index.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: swipe animation for mobile
  src/components/Drawer/images/line.svg
  src/components/Drawer/index.js
  src/components/Drawer/index.scss
  src/home/index.html
  src/utils/swiper.js
Due: eslint --fix, prettier --write, stylelint --fix

fix: mobile drawer
  src/components/Drawer/index.scss
Due: prettier --write, stylelint --fix

fix: minor changes
  src/components/Drawer/index.js
  src/components/Drawer/index.scss
  src/stories/Drawer.stories.js
Due: eslint --fix, prettier --write, stylelint --fix
