Repository devhatt/pet-dex-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.js": ["eslint --max-warnings=0 --fix ", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"]
}

refactor: adjusting field methods
  src/components/Dropdown/index.scss
  src/components/RegisterForm/components/Field.js
  src/components/RegisterForm/components/index.scss
  src/components/RegisterForm/index.js
  src/components/RegisterForm/index.scss
  src/styles/colors.scss
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

chore: complete virtual scroll
  src/components/Calendar/components/DateSelectorComposer/components/SelectorModal/index.js
  src/components/Calendar/components/DateSelectorComposer/components/SelectorModal/index.scss
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

Issue 229 - add pet wrapper (#288)
  package.json
  src/components/AddPet/assets/akita.svg
  src/components/AddPet/assets/arrow-left.svg
  src/components/AddPet/index.js
  src/components/AddPet/index.scss
  src/layouts/app/index.html
  src/layouts/app/pages/PetRegister/index.js
  src/layouts/app/pages/PetRegister/index.scss
  src/layouts/app/pages/PetRegister/index.spec.js
  src/layouts/app/pages/PetVet/index.js
  src/layouts/app/pages/PetVet/index.scss
  src/layouts/app/pages/PetWeight/index.js
  src/layouts/app/pages/PetWeight/index.scss
  src/stories/AddPet.stories.js
  src/styles/fonts.scss
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

refactor: "Changing method error message to English"
  src/components/RegisterForm/components/Field.js
Due: eslint --max-warnings=0 --fix, prettier --write

refactor: Reorganazing scss file to fix Eslint errors
  src/components/RegisterForm/index.scss
Due: prettier --write, stylelint --fix

refactor: resolving Eslint errors
  src/components/RegisterForm/index.scss
Due: prettier --write, stylelint --fix

refactor: resolving persistent error in eslint
  src/components/RegisterForm/index.scss
  src/components/TextInput/index.scss
Due: prettier --write, stylelint --fix

refactor: another attempt to resolve eslint errors
  src/components/RegisterForm/index.scss
Due: prettier --write, stylelint --fix

Eslint error strikes again
  src/components/RegisterForm/index.scss
Due: prettier --write, stylelint --fix

fix: month selector array
  src/components/Calendar/components/DateSelectorComposer/index.js
  src/components/Calendar/components/DateSelectorComposer/utils/arraysGenerators.js
Due: eslint --max-warnings=0 --fix, prettier --write

refactor: adjusting content field method
  src/components/RegisterForm/components/Field.js
Due: eslint --max-warnings=0 --fix, prettier --write

refactor: minor adjusts on scss format and components path
  src/components/RegisterForm/components/Field.js
  src/components/RegisterForm/components/Field/index.js
  src/components/RegisterForm/components/Field/index.scss
  src/components/RegisterForm/index.js
  src/components/RegisterForm/index.scss
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

Create register form component and validate fields (#278)
  src/components/Button/index.js
  src/components/Dropdown/index.js
  src/components/Dropdown/index.scss
  src/components/RegisterForm/components/Field/index.js
  src/components/RegisterForm/components/Field/index.scss
  src/components/RegisterForm/images/facebook-icon.svg
  src/components/RegisterForm/images/google-icon.svg
  src/components/RegisterForm/index.js
  src/components/RegisterForm/index.scss
  src/components/TextInput/index.js
  src/components/TextInput/index.scss
  src/layouts/index.html
  src/stories/RegisterForm.stories.js
  src/styles/colors.scss
  src/utils/validations.js
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

Create a Size Selector Component (#265)
  src/components/SizeSelector/images/large.js
  src/components/SizeSelector/images/medium.js
  src/components/SizeSelector/images/small.js
  src/components/SizeSelector/index.js
  src/components/SizeSelector/index.scss
  src/stories/SizeSelector.stories.js
  src/styles/fonts.scss
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

feat: implementação da listagem de dados pet via service no componente PetAvatar #issue-267
  dbSimulatorAPI.json
  package.json
  pnpm-lock.yaml
  routes.json
  src/layouts/app/components/SideMenu/index.js
  src/services/userService.js
Due: eslint --max-warnings=0 --fix, prettier --write

chore: execução do 'prettier:fix' para correção de falha no CI #issue-267
  dbSimulatorAPI.json
  routes.json
Due: none

refactor: inclusão dos dados pets em db.json e exclusão de dbSimulatorAPI
  db.json
  dbSimulatorAPI.json
  package.json
  routes.json
Due: none

refactor: atualização path login no frontend
  src/services/userService.js
Due: eslint --max-warnings=0 --fix, prettier --write

fix: drawer tests
  src/components/Drawer/index.js
  src/components/Drawer/index.spec.js
Due: eslint --max-warnings=0 --fix, prettier --write

refactor: resolve os pedidos de alteração no código
  src/services/userService.js
Due: eslint --max-warnings=0 --fix, prettier --write

fix: drawer tests (#291)
  src/components/Drawer/index.js
  src/components/Drawer/index.spec.js
Due: eslint --max-warnings=0 --fix, prettier --write

#issue 267 - implementação da listagem de dados pet via service no componente PetAvatar #issue-267 (#290)
  db.json
  package.json
  pnpm-lock.yaml
  routes.json
  src/layouts/app/components/SideMenu/index.js
  src/services/userService.js
Due: eslint --max-warnings=0 --fix, prettier --write

test: adjust continue button test
  src/layouts/app/pages/PetWeight/petWeightPage.spec.js
Due: eslint --max-warnings=0 --fix, prettier --write

Issue 220 - Teste da página de peso do pet (#252)
  src/layouts/app/pages/PetWeight/petWeightPage.spec.js
Due: eslint --max-warnings=0 --fix, prettier --write

feat: add functionality to configure lateral spacing
  src/components/Sliding/index.js
  src/components/Sliding/index.scss
  src/stories/Sliding.stories.js
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

refactor: adjust component event name to follow project standards
  src/components/Sliding/index.js
Due: eslint --max-warnings=0 --fix, prettier --write

refactor: move activeSlide and activeSlideShuffle functions to utils folder
  src/components/Sliding/index.js
  src/components/Sliding/utils/activeSlide.js
  src/components/Sliding/utils/activeSlideShuffle.js
Due: eslint --max-warnings=0 --fix, prettier --write

feat: add user registration service
  src/components/RegisterForm/index.js
  src/services/registerService.js
Due: eslint --max-warnings=0 --fix, prettier --write

refactor: remove unnecessary 'padding:change' event from component
  src/components/Sliding/index.js
Due: eslint --max-warnings=0 --fix, prettier --write

refactor: rename setPadding to setSlideSideSpacing for clarity
  src/components/Sliding/index.js
  src/stories/Sliding.stories.js
Due: eslint --max-warnings=0 --fix, prettier --write

chore: transform userRegister file into a userService method
  src/components/RegisterForm/index.js
  src/services/registerService.js
  src/services/userService.js
Due: eslint --max-warnings=0 --fix, prettier --write

chore: trying make central scroll
  src/components/Calendar/components/DateSelectorComposer/components/SelectorModal/index.js
  src/components/Calendar/components/DateSelectorComposer/utils/arraysGenerators.js
Due: eslint --max-warnings=0 --fix, prettier --write

feat: routes fix
  src/layouts/app/components/SideMenu/index.js
  src/router/routes/main-routes/routes/account.js
  src/router/routes/main-routes/routes/donates.js
  src/router/routes/main-routes/routes/home.js
  src/router/routes/main-routes/routes/pet-dex.js
  src/router/routes/main-routes/routes/settings.js
  vite.config.js
Due: eslint --max-warnings=0 --fix, prettier --write

fix: identation
  src/layouts/app/components/SideMenu/index.js
Due: eslint --max-warnings=0 --fix, prettier --write

fix: importing adjusts
  jsconfig.json
  package.json
  pnpm-lock.yaml
  src/router/main-router.js
  src/router/routes/app/add-pet/add-pet.js
  src/router/routes/app/add-pet/steps/birthday.js
  src/router/routes/app/add-pet/steps/name.js
  src/router/routes/app/add-pet/steps/petvet.js
  src/router/routes/app/add-pet/steps/race.js
  src/router/routes/app/add-pet/steps/register.js
  src/router/routes/app/add-pet/steps/size.js
  src/router/routes/app/add-pet/steps/weight.js
  src/router/routes/app/main-routes/main-routes.js
  src/router/routes/app/main-routes/routes/account.js
  src/router/routes/app/main-routes/routes/donates.js
  src/router/routes/app/main-routes/routes/error.js
  src/router/routes/app/main-routes/routes/home.js
  src/router/routes/app/main-routes/routes/pet-dex.js
  src/router/routes/app/main-routes/routes/settings.js
  src/router/routes/app/my-pets/my-pets.js
  src/router/routes/app/my-pets/steps/pet-profile.js
  src/router/routes/app/my-pets/steps/pets.js
  src/router/routes/create-account/account.js
  src/router/routes/create-account/create-account.js
  vite.config.js
Due: eslint --max-warnings=0 --fix, prettier --write

feat: add user registration service (#293)
  src/components/RegisterForm/index.js
  src/services/userService.js
Due: eslint --max-warnings=0 --fix, prettier --write

feat: scroll quando houver mais de 6 pets
  src/layouts/app/components/SideMenu/index.scss
Due: prettier --write, stylelint --fix

fix: align active item in center
  src/components/Calendar/components/DateSelectorComposer/components/SelectorModal/components/ModalItem/index.js
  src/components/Calendar/components/DateSelectorComposer/components/SelectorModal/index.js
  src/components/Calendar/components/DateSelectorComposer/components/SelectorModal/index.scss
  src/components/Calendar/components/DateSelectorComposer/utils/ModalController.js
  src/components/Calendar/components/DateSelectorComposer/utils/arraysGenerators.js
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

refactor: centralização das regras de validação de senha #287
  src/components/ChangePassword/index.js
  src/components/LoginForm/index.js
Due: eslint --max-warnings=0 --fix, prettier --write

feat: scroll quando houver mais de 6 pets (#296)
  src/layouts/app/components/SideMenu/index.scss
Due: prettier --write, stylelint --fix
