Repository devhatt/pet-dex-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

Issue 263 - Atualizar componente TextInput (#266)
  src/components/LoginForm/images/eye-slash.svg
  src/components/LoginForm/index.js
  src/components/TextInput/img/eye-icon-disable.svg
  src/components/TextInput/img/eye-icon.svg
  src/components/TextInput/index.js
  src/components/TextInput/index.scss
  src/stories/TextInput.stories.js
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

feat: petvetpage tests
  src/home/components/PetVetPage/petVetPage.spec.js
Due: eslint --max-warnings=0 --fix, prettier --write

fix: stories
  src/stories/PetRegister.stories.js
  src/stories/PetRegisterPage.stories.js
  src/stories/PetVetPage.stories.js
  src/stories/PetWeightPage.stories.js
Due: eslint --max-warnings=0 --fix, prettier --write

fix: petvet and it tests
  src/layouts/app/pages/PetVet/index.js
  src/layouts/app/pages/PetVet/index.spec.js
Due: eslint --max-warnings=0 --fix, prettier --write

fix: correct petvet
  src/layouts/app/pages/PetVet/images/cuidadosEspeciais.svg
  src/layouts/app/pages/PetVet/images/estetoscopio.svg
  src/layouts/app/pages/PetVet/index.js
  src/layouts/app/pages/PetVet/index.scss
  src/layouts/app/pages/PetVet/index.spec.js
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

fix: tests and form validation
  src/home/components/PetVetPage/petVetPage.spec.js
Due: eslint --max-warnings=0 --fix, prettier --write

fix: error in methods
  src/components/Vaccine/index.js
  src/components/VaccineGroup/index.js
Due: eslint --max-warnings=0 --fix, prettier --write

feat: add text area component
  src/components/TextArea/index.js
  src/components/TextArea/index.scss
  src/stories/TextArea.stories.js
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

fix: new data in the API create
  db.json
  package.json
  pnpm-lock.yaml
  src/services/user/userService.js
Due: eslint --max-warnings=0 --fix, prettier --write

feat: create register component initial structure
  src/components/RegisterForm/images/facebook-icon.png
  src/components/RegisterForm/images/google-icon.png
  src/components/RegisterForm/index.js
  src/components/RegisterForm/index.scss
  src/public/poppins/Poppins-Bold.ttf
  src/public/poppins/Poppins-ExtraBold.ttf
  src/public/poppins/Poppins-Light.ttf
  src/public/poppins/Poppins-Medium.ttf
  src/public/poppins/Poppins-Regular.ttf
  src/public/poppins/Poppins-SemiBold.ttf
  src/stories/PetRegister.stories.js
  src/stories/PetWeightPage.stories.js
  src/stories/RegisterForm.stories.js
  src/styles/fonts.scss
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

refactor: use existing color from color file
  src/components/TextArea/index.scss
Due: prettier --write, stylelint --fix

fix: tests describes
  src/layouts/app/pages/PetVet/index.spec.js
Due: eslint --max-warnings=0 --fix, prettier --write

feat: create form fields validation
  src/components/RegisterForm/index.js
  src/components/RegisterForm/index.scss
  src/components/RegisterForm/teste.txt
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

feat: adding dropdown options validation
  src/components/RegisterForm/index.js
  src/components/RegisterForm/index.scss
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

refactor: remove container class
  src/components/TextArea/index.js
  src/components/TextArea/index.scss
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

refactor: add default values ​​for parameters
  src/components/TextArea/index.js
Due: eslint --max-warnings=0 --fix, prettier --write

refactor: fix object assign
  src/components/TextArea/index.js
Due: eslint --max-warnings=0 --fix, prettier --write

refactor: clear events
  src/components/TextArea/index.js
Due: eslint --max-warnings=0 --fix, prettier --write

refactor: add the font family to the font style file
  src/components/TextArea/index.scss
  src/styles/fonts.scss
Due: prettier --write, stylelint --fix

refactor: fix storybook argTypes
  src/stories/TextArea.stories.js
Due: eslint --max-warnings=0 --fix, prettier --write

refactor: fix default args to max length
  src/components/TextArea/index.js
Due: eslint --max-warnings=0 --fix, prettier --write

refactor: change event names to follow the pattern
  src/components/TextArea/index.js
Due: eslint --max-warnings=0 --fix, prettier --write

refactor: fix BEM
  src/components/TextArea/index.js
  src/components/TextArea/index.scss
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

refactor: remove public method
  src/components/TextArea/index.js
Due: eslint --max-warnings=0 --fix, prettier --write

test: melhora testes na página de peso do pet
  src/home/components/PetWeightPage/petWeightPage.spec.js
Due: eslint --max-warnings=0 --fix, prettier --write

fix: search pet and destructuring
  db.json
  src/services/user/userService.js
Due: eslint --max-warnings=0 --fix, prettier --write

refactor: remove max length check
  src/components/TextArea/index.js
Due: eslint --max-warnings=0 --fix, prettier --write

refactor: add require to true by default
  src/components/TextArea/index.js
  src/stories/TextArea.stories.js
Due: eslint --max-warnings=0 --fix, prettier --write

refactor: add default max length value for Infinity
  src/components/TextArea/index.js
Due: eslint --max-warnings=0 --fix, prettier --write

feat: petvetpage tests (#264)
  src/components/Vaccine/index.js
  src/components/VaccineGroup/index.js
  src/layouts/app/pages/PetVet/images/cuidadosEspeciais.svg
  src/layouts/app/pages/PetVet/images/estetoscopio.svg
  src/layouts/app/pages/PetVet/index.js
  src/layouts/app/pages/PetVet/index.scss
  src/layouts/app/pages/PetVet/index.spec.js
  src/stories/PetRegister.stories.js
  src/stories/PetRegisterPage.stories.js
  src/stories/PetVetPage.stories.js
  src/stories/PetWeightPage.stories.js
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

fix: result of pet list return
  db.json
  package.json
  src/services/user/userService.js
Due: eslint --max-warnings=0 --fix, prettier --write

refactor: remove infinite as maximum size for textarea
  src/components/TextArea/index.js
Due: eslint --max-warnings=0 --fix, prettier --write

fix: getPets
  src/services/user/userService.js
Due: eslint --max-warnings=0 --fix, prettier --write

fix: try build fix
  pnpm-lock.yaml
Due: none

chore: fix parsing error eslint
  .eslintrc.json
Due: none

refactor: fix logic to set maximum input size
  src/components/TextArea/index.js
Due: eslint --max-warnings=0 --fix, prettier --write

feat: add text area component (#276)
  .eslintrc.json
  src/components/TextArea/index.js
  src/components/TextArea/index.scss
  src/stories/TextArea.stories.js
  src/styles/fonts.scss
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

fix: remove error verification
  src/services/user/userService.js
Due: eslint --max-warnings=0 --fix, prettier --write

Issue 237 - Serviço de Listar Pets (#277)
  db.json
  package.json
  pnpm-lock.yaml
  src/services/user/userService.js
Due: eslint --max-warnings=0 --fix, prettier --write

style: remove component-specific font variables (#273)
  src/styles/fonts.scss
Due: prettier --write, stylelint --fix

Path conditions:
  eslint --max-warnings=0 --fix: any of: *.js
  prettier --write: (any of: *.js) or (any of: *.scss)
  stylelint --fix: any of: *.scss
